/* remove indent tab and scroll */
.ui-accordion .ui-accordion-content {
	padding: 0em 0em 0.2em 0.3em;
	overflow: hidden;
}

/* make menu clickable on all surface */
.ui-menu {
	padding: 0em;
}

.ui-menubar .ui-menuitem{
	width: 100%;
}

.ui-menubar .ui-menuitem-link {
	width: 100%;
}