@CHARSET "ISO-8859-1";

#clockMsg .ui-clock {
	font-size: 0.8em;
	border: none;
}

/* center vertical align welcome message */
#welcomeMsg {
	font-size: 0.8em;
	position: absolute;
	transform: translateY(30%);
}

#logoutBtn.ui-button .ui-button-text {
	font-size: 0.8em;
}

/* remove header scroll */
.ui-layout-unit .ui-layout-unit-content{
	overflow: hidden;
}

/* make header image fit */
#headerImg {
	width: 100%;
	height: auto;
}

#headerPnl {
	height: 100%;
}

#toolbar {
	position: absolute;
	width: 100%;
	bottom: 0%;
	z-index: 100;
}