.removePanelBorder.ui-panelgrid>*>tr,
.removePanelBorder.ui-panelgrid .ui-panelgrid-cell {
    border: none;
}

.ui-overlaypanel-content {
	padding: 5px 5px;
}

.ui-panelgrid .ui-panelgrid-cell {
	padding: 3px 0px 0px 0px;
}

.alignTop{
	vertical-align: top;
}