.bodyCustom{
	background-repeat: no-repeat;
	background-size: 100%;
}

.centeredPanel{
    position:absolute;
    left:50%;
    top:50%;
    height: 250px;
	width: 400px;
}

.centeredForm{
	position:absolute;
    left:50%;
    top:50%;
}

.removePanelBorder.ui-panelgrid>*>tr,
.removePanelBorder.ui-panelgrid .ui-panelgrid-cell {
    border: none;
}

.ui-widget-content {
	background: none;
}

.ui-inputfield {
	padding: 10px;
}​