<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
	<h:form id="form">
		<p:commandButton value="Add Agent" update=":formAdd:addAgentPanel"
			actionListener="#{agentManagementHandler.preAddAgent()}"
			oncomplete="PF('addAgentDlg').show()"
			rendered="#{isSuperAdministrator}"></p:commandButton>
		<p:dataTable rows="7" paginator="true" rowsPerPageTemplate="5,10,15"
			paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
			id="agentDT" value="#{agentManagementHandler.agents}" var="agent">
			<p:column headerText="Agent Id">
				<p:outputLabel value="#{agent.agentIdWeb}"></p:outputLabel>
			</p:column>
			<p:column headerText="Name">
				<p:outputLabel value="#{agent.name}"></p:outputLabel>
			</p:column>
			<p:column headerText="Address">
				<p:outputLabel value="#{agent.address}"></p:outputLabel>
			</p:column>
			<p:column headerText="Email">
				<p:outputLabel value="#{agent.email}"></p:outputLabel>
			</p:column>
			<p:column headerText="Phone No">
				<p:outputLabel value="#{agent.phoneNo}"></p:outputLabel>
			</p:column>
			<p:column headerText="Status">
				<p:inputSwitch offLabel="Inactive" onLabel="Active"
					value="#{agent.status}" disabled="true">
				</p:inputSwitch>
			</p:column>
			
			<p:column>
				<p:commandButton update=":formEdit:editAgentPanel" process="agentDT"
					actionListener="#{agentManagementHandler.preEditAgent(agent)}"
					oncomplete="PF('editAgentDlg').show()" icon="ui-icon-pencil"
					title="edit">
				</p:commandButton>

				<p:commandButton update=":formDelete:deleteAgentPanel"
					process="agentDT"
					actionListener="#{agentManagementHandler.preDeleteAgent(agent)}"
					oncomplete="PF('deleteAgentDlg').show()" icon="ui-icon-trash"
					title="edit" rendered="#{isSuperAdministrator}">
				</p:commandButton>
			</p:column>
		</p:dataTable>
	</h:form>
	
	<p:dialog draggable="false" widgetVar="addAgentDlg" header="Add Agent">
		<h:form id="formAdd">
			<p:panelGrid columns="2" id="addAgentPanel">
				<p:outputLabel value="Agent Id"></p:outputLabel>
				<p:inputText value="#{agentManagementHandler.transAgent.agentIdWeb}"
				required="true" autocomplete="off"
				requiredMessage="Agent Id #{val['common.message.error.requiredField']}"></p:inputText>
				<p:outputLabel value="Name"></p:outputLabel>
				<p:inputText value="#{agentManagementHandler.transAgent.name}"
				required="true" autocomplete="off"
				requiredMessage="Agent Name #{val['common.message.error.requiredField']}"></p:inputText>
				<p:outputLabel value="Address"></p:outputLabel>
				<p:inputText value="#{agentManagementHandler.transAgent.address}"></p:inputText>
				<p:outputLabel value="Email"></p:outputLabel>
				<p:inputText value="#{agentManagementHandler.transAgent.email}">
					<f:validator validatorId="custom.emailValidator" />
				</p:inputText>
				<p:outputLabel value="Phone No"></p:outputLabel>
				<p:inputText value="#{agentManagementHandler.transAgent.phoneNo}"
					maxlength="15"></p:inputText>
				
			</p:panelGrid>
			<div style="height: 14px"></div>
			<p:commandButton value="Submit" process="@parent"
				action="#{agentManagementHandler.addAgent}"
				oncomplete="if (args &amp;&amp; !args.validationFailed) PF('addAgentDlg').hide()" update=":form"></p:commandButton>
		</h:form>
	</p:dialog>

	<p:dialog draggable="false" widgetVar="editAgentDlg"
		header="Edit Agent" dynamic="true">
		<h:form id="formEdit">
			<p:panelGrid columns="2" id="editAgentPanel">
				<p:outputLabel value="Agent Id"></p:outputLabel>
				<p:inputText value="#{agentManagementHandler.transAgent.agentIdWeb}"
					readonly="true" disabled="true"></p:inputText>
				<p:outputLabel value="name"></p:outputLabel>
				<p:inputText value="#{agentManagementHandler.transAgent.name}"></p:inputText>
				<p:outputLabel value="Address"></p:outputLabel>
				<p:inputText value="#{agentManagementHandler.transAgent.address}"></p:inputText>
				<p:outputLabel value="Email"></p:outputLabel>
				<p:inputText value="#{agentManagementHandler.transAgent.email}">
					<f:validator validatorId="custom.emailValidator" />
				</p:inputText>
				<p:outputLabel value="Phone No"></p:outputLabel>
				<p:inputText value="#{agentManagementHandler.transAgent.phoneNo}"
					maxlength="15"></p:inputText>
				<p:outputLabel value="Status"></p:outputLabel>
				<p:inputSwitch offLabel="Inactive" onLabel="Active"
					value="#{agentManagementHandler.transAgent.status}">
				</p:inputSwitch>
				
			</p:panelGrid>
			<div style="height: 14px"></div>
			<p:commandButton value="Submit" process="@parent"
				action="#{agentManagementHandler.editAgent}"
				oncomplete="PF('editAgentDlg').hide()" update=":form"></p:commandButton>

			<p:commandButton value="Cancel" process="@this"
				oncomplete="PF('editAgentDlg').hide()" update=":form"></p:commandButton>
		</h:form>
	</p:dialog>

	<p:dialog draggable="false" widgetVar="deleteAgentDlg"
		header="Delete Agent">
		<h:form id="formDelete">
			<p:outputPanel id="deleteAgentPanel">
				<h:outputFormat value="#{val['common.question.delete']}">
					<f:param value="#{agentManagementHandler.transAgent.name}"></f:param>
				</h:outputFormat>
				<div style="height: 14px"></div>
				<p:commandButton value="Submit" process="@parent"
					action="#{agentManagementHandler.DeleteAgent()}"
					oncomplete="PF('deleteAgentDlg').hide()"
					update=":form :form:agentDT"></p:commandButton>
				<p:commandButton value="Cancel" process="@none"
					action="#{agentManagementHandler.newTransAgent()}"
					oncomplete="PF('deleteAgentDlg').hide()" update=":form" ></p:commandButton>
			</p:outputPanel>
		</h:form>
	</p:dialog>

</ui:composition>