<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

	<h:form id="formView">
		<p:commandButton value="Upload" update=":formAdd:addBillInvoicePanel"
			actionListener="#{billInvoiceManagementHandler.preAddBillInvoice}"
			oncomplete="PF('addBillInvoiceDlg').show()"></p:commandButton>
		<p:commandButton value="Input" update=":formAddInput"
			actionListener="#{billInvoiceManagementHandler.preAddBillInvoiceInput}"
			oncomplete="PF('addBillInvoiceDlgInput').show()"></p:commandButton>
		<p:dataTable id="billDataTable" scrollable="true" rows="7"
			paginator="true" rowsPerPageTemplate="5,10,15" rendered="false"
			paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
			value="#{billInvoiceManagementHandler.ibsBills}" var="bill"
			selectionMode="single" rowKey="#{bill.billId}">			
			<p:column headerText="Id" sortBy="#{bill.billId}"
				filterBy="#{bill.billId}" width="200">
				<p:outputLabel value="#{bill.billId}"></p:outputLabel>
			</p:column>
			<p:column headerText="Type" sortBy="#{bill.type}"
				filterBy="#{bill.type}" width="200">
				<p:outputLabel value="#{bill.type}"></p:outputLabel>
			</p:column>
			<p:column headerText="Filename" sortBy="#{bill.filename}"
				filterBy="#{bill.filename}" width="200">
				<p:outputLabel value="#{bill.filename}"></p:outputLabel>
			</p:column>
			<p:column headerText="Valid" sortBy="#{bill.valid}"
				filterBy="#{bill.valid}" width="200">
				<p:inputSwitch offLabel="Invalid" onLabel="Valid"
					value="#{bill.valid}" disabled="true">
				</p:inputSwitch>
			</p:column>
			<p:column headerText="Agent" sortBy="#{bill.agent.name}"
				filterBy="#{bill.agent.name}" width="200">
				<p:outputLabel value="#{bill.agent.name}"></p:outputLabel>
			</p:column>

		</p:dataTable>
		<div style="height: 14px"></div>
		<p:dataTable rows="7" paginator="true" rowsPerPageTemplate="5,10,15"
			paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
			value="#{billInvoiceManagementHandler.ibsBillsDetails}"
			var="ibsBillsDetail" id="ibsBillsDetailDT">
			<p:column width="100">
				<p:commandButton update=":formEdit:editBillPanel" process="ibsBillsDetailDT"
					actionListener="#{billInvoiceManagementHandler.preEditBillsDetail(ibsBillsDetail)}"
					oncomplete="PF('editBillDlg').show()" icon="ui-icon-pencil"
					title="edit">
				</p:commandButton>

				<p:commandButton update=":formDelete:deleteBillPanel"
					process="ibsBillsDetailDT"
					actionListener="#{billInvoiceManagementHandler.preDeleteBillsDetail(ibsBillsDetail)}"
					oncomplete="PF('deleteBillDlg').show()" icon="ui-icon-trash"
					title="remove">
				</p:commandButton>
			</p:column>
			
			<p:column headerText="Id Pelanggan" width="200" sortBy="#{ibsBillsDetail.idPelanggan}" filterBy="#{ibsBillsDetail.idPelanggan}">
				<p:outputLabel value="#{ibsBillsDetail.idPelanggan}"></p:outputLabel>
			</p:column>
			<p:column headerText="Active" width="200">
				<p:inputSwitch offLabel="Inactive" onLabel="Active"
					value="#{ibsBillsDetail.active}" disabled="true">
				</p:inputSwitch>
			</p:column>
			<p:column headerText="Bulan Tagihan" width="200" rendered="false">
				<p:outputLabel value="#{ibsBillsDetail.blnTagihan}"></p:outputLabel>
			</p:column>
			<p:column headerText="Tahun Tagihan" width="200" rendered="false">
				<p:outputLabel value="#{ibsBillsDetail.thnTagihan}"></p:outputLabel>
			</p:column>
			<p:column headerText="Status Tagihan" width="200" rendered="false">
				<p:outputLabel value="#{ibsBillsDetail.stsTagihan}"></p:outputLabel>
			</p:column>
			<p:column headerText="Nama Pelanggan" width="200" sortBy="#{ibsBillsDetail.namaPelanggan}" filterBy="#{ibsBillsDetail.namaPelanggan}">
				<p:outputLabel value="#{ibsBillsDetail.namaPelanggan}"></p:outputLabel>
			</p:column>
			<p:column headerText="No HP" width="200" sortBy="#{ibsBillsDetail.noHP}" filterBy="#{ibsBillsDetail.noHP}">
				<p:outputLabel value="#{ibsBillsDetail.noHP}"></p:outputLabel>
			</p:column>
			<p:column headerText="Email" width="200" sortBy="#{ibsBillsDetail.email}" filterBy="#{ibsBillsDetail.email}">
				<p:outputLabel value="#{ibsBillsDetail.email}"></p:outputLabel>
			</p:column>
			<p:column headerText="Nama Perumahan" width="200" sortBy="#{ibsBillsDetail.namaPerumahan}" filterBy="#{ibsBillsDetail.namaPerumahan}">
				<p:outputLabel value="#{ibsBillsDetail.namaPerumahan}"></p:outputLabel>
			</p:column>
			<p:column headerText="Alamat" width="200" sortBy="#{ibsBillsDetail.alamat}" filterBy="#{ibsBillsDetail.alamat}">
				<p:outputLabel value="#{ibsBillsDetail.alamat}"></p:outputLabel>
			</p:column>
			<!-- // 0			1			2			3			4				5		6		7				8		9			10		11			12			13				
				// id_pelanggan	bln_tagihan	thn_tagihan	sts_tagihan	nama_pelanggan	no_hp	email	nama_perumahan	Alamat	no_block	Kel/Kec	Kab/Kota	Provinsi	luas_tanah
			 -->
			<p:column headerText="No Block" width="200" sortBy="#{ibsBillsDetail.noBlock}" filterBy="#{ibsBillsDetail.noBlock}">
				<p:outputLabel value="#{ibsBillsDetail.noBlock}"></p:outputLabel>
			</p:column>
			<p:column headerText="RT/RW" width="200" sortBy="#{ibsBillsDetail.rtrw}" filterBy="#{ibsBillsDetail.rtrw}">
				<p:outputLabel value="#{ibsBillsDetail.rtrw}"></p:outputLabel>
			</p:column>
			<p:column headerText="Kel / Kec" width="200" sortBy="#{ibsBillsDetail.kelKec}" filterBy="#{ibsBillsDetail.kelKec}">
				<p:outputLabel value="#{ibsBillsDetail.kelKec}"></p:outputLabel>
			</p:column>
			<p:column headerText="Kab / Kota" width="200" sortBy="#{ibsBillsDetail.kabKota}" filterBy="#{ibsBillsDetail.kabKota}">
				<p:outputLabel value="#{ibsBillsDetail.kabKota}"></p:outputLabel>
			</p:column>
			<p:column headerText="Provinsi" width="200" sortBy="#{ibsBillsDetail.provinsi}" filterBy="#{ibsBillsDetail.provinsi}">
				<p:outputLabel value="#{ibsBillsDetail.provinsi}"></p:outputLabel>
			</p:column>
			<p:column headerText="Luas Tanah" width="200" sortBy="#{ibsBillsDetail.luasTanah}" filterBy="#{ibsBillsDetail.luasTanah}">
				<p:outputLabel value="#{ibsBillsDetail.luasTanah}"></p:outputLabel>
			</p:column>

		</p:dataTable>


	</h:form>

	<p:dialog draggable="false" widgetVar="addBillInvoiceDlg"
		header="Upload Bill Invoice" dynamic="true">
		<h:form id="formAdd">
			<p:panelGrid columns="2" id="addBillInvoicePanel">
				<p:outputLabel value="Bill Invoice"></p:outputLabel>
				<p:outputPanel>
					<p:outputLabel
						value="#{billInvoiceManagementHandler.transBill.filename}"
						rendered="#{billInvoiceManagementHandler.transBill.filename != null ? true : false}"></p:outputLabel>
					<h:inputHidden
						value="#{billInvoiceManagementHandler.transBill.filename}"
						required="true" autocomplete="off"
						requiredMessage="Bill Invoice #{val['common.message.error.requiredField']}" />
					<p:fileUpload update="@parent"
						fileUploadListener="#{billInvoiceManagementHandler.uploadFile}"
						mode="advanced" dragDropSupport="true" fileLimit="1"
						allowTypes="/(\.|\/)(xlsx?)$/" required="true"
						requiredMessage=" #{val['common.message.error.requiredField']}" />
				</p:outputPanel>
			</p:panelGrid>
			<div style="height: 14px"></div>
			<p:commandButton value="Submit" process="@parent"
				actionListener="#{billInvoiceManagementHandler.addBillInvoice}"
				oncomplete="if (args &amp;&amp; !args.validationFailed) PF('addBillInvoiceDlg').hide()"
				update="growl :formView"></p:commandButton>
		</h:form>
	</p:dialog>

	<p:dialog draggable="false" widgetVar="addBillInvoiceDlgInput"
		header="Input Bill Invoice" dynamic="true"
		style="left: 0px">
		<h:form id="formAddInput">
			<p:commandButton icon="ui-icon-plus" process="@parent"
				actionListener="#{billInvoiceManagementHandler.addTransBillDetail()}"
				update="@parent" style="margin-left: 10px"></p:commandButton>
			<div style="height: 14px"></div>

			<p:scrollPanel mode="native" style="width:400px;height:400px">
				<c:forEach items="#{billInvoiceManagementHandler.transIbsBillsDetails}"
					var="ibsBillsDetail">
					<p:panelGrid columns="2" styleClass="removePanelBorder">
						<p:outputLabel value="Id Pelanggan" />
						<p:inputText value="#{ibsBillsDetail.idPelanggan}" required="true" requiredMessage="Id Pelanggan is required" />
						<p:outputLabel value="Nama Pelanggan" />
						<p:inputText value="#{ibsBillsDetail.namaPelanggan}"
							required="true" requiredMessage="Nama Pelanggan is required" />
						<p:outputLabel value="No HP" />
						<p:inputText value="#{ibsBillsDetail.noHP}" required="true" requiredMessage="No HP is required" />
						<p:outputLabel value="Email" />
						<p:inputText value="#{ibsBillsDetail.email}" required="true" requiredMessage="Email is required" />
						<p:outputLabel value="Nama Perumahan" />
						<p:inputText value="#{ibsBillsDetail.namaPerumahan}"
							required="true" requiredMessage="Nama Perumahan is required" />
						<p:outputLabel value="Alamat" />
						<p:inputText value="#{ibsBillsDetail.alamat}" required="true" requiredMessage="Alamat is required" />
						<p:outputLabel value="No Block" />
						<p:inputText value="#{ibsBillsDetail.noBlock}" required="true" requiredMessage="No Block is required" />
						<p:outputLabel value="RT/RW" />
						<p:inputText value="#{ibsBillsDetail.rtrw}" required="true" requiredMessage="RT/RW is required" />
						<p:outputLabel value="Kel / Kec" />
						<p:inputText value="#{ibsBillsDetail.kelKec}" required="true" requiredMessage="Kel / Kec is required" />
						<p:outputLabel value="Kab / Kota" />
						<p:inputText value="#{ibsBillsDetail.kabKota}" required="true" requiredMessage="Kab / Kota is required" />
						<p:outputLabel value="Provinsi" />
						<p:inputText value="#{ibsBillsDetail.provinsi}" required="true" requiredMessage="Provinsi is required" />
						<p:outputLabel value="Luas Tanah" />
						<p:inputText value="#{ibsBillsDetail.luasTanah}" required="true" requiredMessage="Luas Tanah is required"/>
					</p:panelGrid>
					<div style="height: 14px"></div>
				</c:forEach>
				<div style="height: 14px"></div>
			</p:scrollPanel>
			<p:commandButton value="Submit" process="@parent"
				actionListener="#{billInvoiceManagementHandler.addBillInvoiceInput()}"
				oncomplete="if (args &amp;&amp; !args.validationFailed) PF('addBillInvoiceDlgInput').hide()"
				update="growl :formView"></p:commandButton>
		</h:form>

	</p:dialog>
	
	<p:dialog draggable="false" widgetVar="editBillDlg"
		header="Edit Bill Invoice" dynamic="true">
		<h:form id="formEdit">
			<p:panelGrid columns="2" id="editBillPanel">
				<p:outputLabel value="Id Pelanggan" />
				<p:inputText value="#{billInvoiceManagementHandler.transBillDetail.idPelanggan}" readonly="true" disabled="true" required="true" requiredMessage="Id Pelanggan is required" />
				
				<p:outputLabel value="Active"></p:outputLabel>
				<p:inputSwitch offLabel="Inactive" onLabel="Active"
					value="#{billInvoiceManagementHandler.transBillDetail.active}">
				</p:inputSwitch>
				
				<p:outputLabel value="Nama Pelanggan" />
				<p:inputText value="#{billInvoiceManagementHandler.transBillDetail.namaPelanggan}"
					required="true" requiredMessage="Nama Pelanggan is required" />
				<p:outputLabel value="No HP" />
				<p:inputText value="#{billInvoiceManagementHandler.transBillDetail.noHP}" required="true" requiredMessage="No HP is required" />
				<p:outputLabel value="Email" />
				<p:inputText value="#{billInvoiceManagementHandler.transBillDetail.email}" required="true" requiredMessage="Email is required" />
				<p:outputLabel value="Nama Perumahan" />
				<p:inputText value="#{billInvoiceManagementHandler.transBillDetail.namaPerumahan}"
					required="true" requiredMessage="Nama Perumahan is required" />
				<p:outputLabel value="Alamat" />
				<p:inputText value="#{billInvoiceManagementHandler.transBillDetail.alamat}" required="true" requiredMessage="Alamat is required" />
				<p:outputLabel value="No Block" />
				<p:inputText value="#{billInvoiceManagementHandler.transBillDetail.noBlock}" required="true" requiredMessage="No Block is required" />
				<p:outputLabel value="RT/RW" />
				<p:inputText value="#{billInvoiceManagementHandler.transBillDetail.rtrw}" required="true" requiredMessage="RT/RW is required" />
				<p:outputLabel value="Kel / Kec" />
				<p:inputText value="#{billInvoiceManagementHandler.transBillDetail.kelKec}" required="true" requiredMessage="Kel / Kec is required" />
				<p:outputLabel value="Kab / Kota" />
				<p:inputText value="#{billInvoiceManagementHandler.transBillDetail.kabKota}" required="true" requiredMessage="Kab / Kota is required" />
				<p:outputLabel value="Provinsi" />
				<p:inputText value="#{billInvoiceManagementHandler.transBillDetail.provinsi}" required="true" requiredMessage="Provinsi is required" />
				<p:outputLabel value="Luas Tanah" />
				<p:inputText value="#{billInvoiceManagementHandler.transBillDetail.luasTanah}" required="true" requiredMessage="Luas Tanah is required"/>
			</p:panelGrid>
			<div style="height: 14px"></div>
			<p:commandButton value="Submit" process="@parent"
				action="#{billInvoiceManagementHandler.editBillInvoiceContent()}"
				oncomplete="PF('editBillDlg').hide()" update=":formView"></p:commandButton>

			<p:commandButton value="Cancel" process="@this"
				oncomplete="PF('editBillDlg').hide()" update=":formView"></p:commandButton>
		</h:form>
	</p:dialog>
	
	<p:dialog draggable="false" widgetVar="deleteBillDlg"
		header="Delete Bill">
		<h:form id="formDelete">
			<p:outputPanel id="deleteBillPanel">
				<h:outputFormat value="#{val['common.question.delete']}">
					<f:param value="#{billInvoiceManagementHandler.transBillDetail.idPelanggan}"></f:param>
				</h:outputFormat>
				<div style="height: 14px"></div>
				<p:commandButton value="Submit" process="@parent"
					action="#{billInvoiceManagementHandler.deleteBillInvoiceContent()}"
					oncomplete="PF('deleteBillDlg').hide()"
					update=":formView :formView:ibsBillsDetailDT"></p:commandButton>
				<p:commandButton value="Cancel" process="@none"
					action="#{billInvoiceManagementHandler.newTransTIbsBill()}"
					oncomplete="PF('deleteBillDlg').hide()" update=":formView" ></p:commandButton>
			</p:outputPanel>
		</h:form>
	</p:dialog>
</ui:composition>