<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

	<h:form id="formAddInput">
		<c:forEach items="#{billInvoiceManagementHandler.ibsBillsDetails}"
			var="ibsBillsDetail">
			<p:panelGrid columns="2">
				<p:outputLabel value="Id Pelanggan" />
				<p:inputText value="#{ibsBillsDetail.idPelanggan}" required="true" />
				<p:outputLabel value="Status Tagihan" />
				<p:inputText value="#{ibsBillsDetail.stsTagihan}" required="true" />
				<p:outputLabel value="Nama Pelanggan" />
				<p:inputText value="#{ibsBillsDetail.namaPelanggan}" required="true" />
				<p:outputLabel value="No HP" />
				<p:inputText value="#{ibsBillsDetail.noHP}" required="true" />
				<p:outputLabel value="Email" />
				<p:inputText value="#{ibsBillsDetail.email}" required="true" />
				<p:outputLabel value="Nama Perumahan" />
				<p:inputText value="#{ibsBillsDetail.namaPerumahan}" required="true" />
				<p:outputLabel value="Alamat" />
				<p:inputText value="#{ibsBillsDetail.alamat}" required="true" />
				<p:outputLabel value="No Block" />
				<p:inputText value="#{ibsBillsDetail.noBlock}" required="true" />
				<p:outputLabel value="RT/RW" />
				<p:inputText value="#{ibsBillsDetail.rtrw}" required="true" />
				<p:outputLabel value="Kel / Kec" />
				<p:inputText value="#{ibsBillsDetail.kelKec}" required="true" />
				<p:outputLabel value="Kab / Kota" />
				<p:inputText value="#{ibsBillsDetail.kabKota}" required="true" />
				<p:outputLabel value="Provinsi" />
				<p:inputText value="#{ibsBillsDetail.provinsi}" required="true" />
				<p:outputLabel value="Luas Tanah" />
				<p:inputText value="#{ibsBillsDetail.luasTanah}" required="true" />
			</p:panelGrid>
			<div style="height: 14px"></div>
		</c:forEach>
		<div style="height: 14px"></div>
		<p:commandButton value="Submit" process="@parent" immediate="true"
			actionListener="#{billInvoiceManagementHandler.addBillInvoiceInput}"
			oncomplete="if (args &amp;&amp; !args.validationFailed) PF('addBillInvoiceDlgInput').hide()"
			update="growl :formView"></p:commandButton>
	</h:form>
</ui:composition>