<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
	<h:form id="form">
		<p:commandButton draggable="false" value="Add Biller Product"
			update=":formAdd:addBillerProductPanel"
			actionListener="#{billerProductHandler.preAddBillerProduct()}"
			oncomplete="PF('addBillerProductDlg').show()">
		</p:commandButton>
		<p:dataTable rows="7" paginator="true" rowsPerPageTemplate="5,10,15"
			paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
			value="#{billerProductHandler.billerProducts}" var="product">
			<p:column headerText="Id">
				<p:outputLabel value="#{product.productId}"></p:outputLabel>
			</p:column>
			<p:column headerText="Date">
				<p:outputLabel value="#{product.modifiedDate}"></p:outputLabel>
			</p:column>
			<p:column headerText="Description">
				<p:outputLabel value="#{product.description}"></p:outputLabel>
			</p:column>
			<p:column headerText="Operator">
				<p:outputLabel value="#{product.operator}"></p:outputLabel>
			</p:column>
			<p:column headerText="Amount">
				<p:outputLabel value="#{product.amount}"></p:outputLabel>
			</p:column>
			<p:column headerText="RS Price">
				<p:outputLabel value="#{product.rsPrice}"></p:outputLabel>
			</p:column>
			<p:column headerText="Status">
				<p:outputLabel value="#{product.status}"></p:outputLabel>
			</p:column>
			<p:column headerText="Harga Jual">
				<p:outputLabel value="#{product.hargajual}"></p:outputLabel>
			</p:column>
			<p:column headerText="Source Biller">
				<p:outputLabel value="#{product.sourceBiller}"></p:outputLabel>
			</p:column>
			<p:column>
				<p:commandButton draggable="false" update=":formEdit:editBillerProductPanel"
					oncomplete="PF('editBillerProductDlg').show()" icon="ui-icon-pencil"
					title="edit">
					<f:setPropertyActionListener value="#{product}"
						target="#{billerProductHandler.transBillerProduct}" />
				</p:commandButton>

				<p:commandButton draggable="false" update=":deleteBillerProductPanel"
					oncomplete="PF('deleteBillerProductDlg').show()" icon="ui-icon-trash"
					title="delete">
					<f:setPropertyActionListener value="#{product}"
						target="#{billerProductHandler.transBillerProduct}" />
				</p:commandButton>
			</p:column>
		</p:dataTable>
	</h:form>

	<p:dialog draggable="false" widgetVar="addBillerProductDlg"
		header="Add Biller Product" dynamic="true">
		<h:form id="formAdd">
		
	private String ;
	private String ;
	private String ;
	private String ;
	private String ;
	private String ;
	private String ;
			<p:panelGrid columns="2">
				<p:outputLabel value="ID"></p:outputLabel>
				<p:inputText value="#{billerProductHandler.transBillerProduct.productId}"
					required="true" autocomplete="off"
					requiredMessage="ID #{val['common.message.error.requiredField']}"></p:inputText>
			</p:panelGrid>
			<p:panelGrid columns="2">
				<p:outputLabel value="Description"></p:outputLabel>
				<p:inputText value="#{billerProductHandler.transBillerProduct.description}"
					required="true" autocomplete="off"
					requiredMessage="Description #{val['common.message.error.requiredField']}"></p:inputText>
			</p:panelGrid>
			<p:panelGrid columns="2">
				<p:outputLabel value="Operator"></p:outputLabel>
				<p:inputText value="#{billerProductHandler.transBillerProduct.operator}"
					required="true" autocomplete="off"
					requiredMessage="Operator #{val['common.message.error.requiredField']}"></p:inputText>
			</p:panelGrid>
			<p:panelGrid columns="2">
				<p:outputLabel value="Amount"></p:outputLabel>
				<p:inputText value="#{billerProductHandler.transBillerProduct.amount}"
					required="true" autocomplete="off"
					requiredMessage="Amount #{val['common.message.error.requiredField']}"></p:inputText>
			</p:panelGrid>
			<p:panelGrid columns="2">
				<p:outputLabel value="RS Price"></p:outputLabel>
				<p:inputText value="#{billerProductHandler.transBillerProduct.rsPrice}"
					required="true" autocomplete="off"
					requiredMessage="RS Price #{val['common.message.error.requiredField']}"></p:inputText>
			</p:panelGrid>
			<p:panelGrid columns="2">
				<p:outputLabel value="Status"></p:outputLabel>
				<p:inputText value="#{billerProductHandler.transBillerProduct.status}"
					required="true" autocomplete="off"
					requiredMessage="Status #{val['common.message.error.requiredField']}"></p:inputText>
			</p:panelGrid>
			<p:panelGrid columns="2">
				<p:outputLabel value="Harga Jual"></p:outputLabel>
				<p:inputText value="#{billerProductHandler.transBillerProduct.hargajual}"
					required="true" autocomplete="off"
					requiredMessage="Harga Jual #{val['common.message.error.requiredField']}"></p:inputText>
			</p:panelGrid>
			<p:panelGrid columns="2">
				<p:outputLabel value="Source Biller"></p:outputLabel>
				<p:inputText value="#{billerProductHandler.transBillerProduct.sourceBiller}"
					required="true" autocomplete="off"
					requiredMessage="Source Biller #{val['common.message.error.requiredField']}"></p:inputText>
			</p:panelGrid>
			<div style="height: 14px"></div>
			<p:commandButton value="Submit" process="@parent"
				actionListener="#{billerProductHandler.addBillerProduct}"
				oncomplete="if (args &amp;&amp; !args.validationFailed) PF('addBillerProductDlg').hide()"
				update="growl :form"></p:commandButton>
		</h:form>
	</p:dialog>

	<p:dialog draggable="false" widgetVar="editBillerProductDlg"
		header="Edit Biller Product" dynamic="true">
		<h:form id="formEdit">
			<p:panelGrid columns="2" id="editBillerProductPanel">
				<p:outputLabel value="Id"></p:outputLabel>
				<p:inputText value="#{billerProductHandler.transBillerProduct.productId}" readonly="true" disabled="true"></p:inputText>
				<p:outputLabel value="Description"></p:outputLabel>
				<p:inputText value="#{billerProductHandler.transBillerProduct.description}" readonly="true" disabled="true"></p:inputText>
				<p:outputLabel value="Operator"></p:outputLabel>
				<p:inputText value="#{billerProductHandler.transBillerProduct.operator}" readonly="true" disabled="true"></p:inputText>
				<p:outputLabel value="Amount"></p:outputLabel>
				<p:inputText value="#{billerProductHandler.transBillerProduct.amount}" readonly="true" disabled="true"></p:inputText>
				<p:outputLabel value="RS Price"></p:outputLabel>
				<p:inputText value="#{billerProductHandler.transBillerProduct.rsPrice}" readonly="true" disabled="true"></p:inputText>
				<p:outputLabel value="Biller"></p:outputLabel>
				<p:inputText value="#{billerProductHandler.transBillerProduct.sourceBiller}" readonly="true" disabled="true"></p:inputText>
				<p:outputLabel value="Status"></p:outputLabel>
				<p:inputText value="#{billerProductHandler.transBillerProduct.status}" readonly="true" disabled="true"></p:inputText>
				<p:outputLabel value="Harga Jual"></p:outputLabel>
				<p:inputText value="#{billerProductHandler.transBillerProduct.hargajual}" readonly="true" disabled="true"></p:inputText>
			</p:panelGrid>
			<div style="height: 14px"></div>
			<p:commandButton value="Submit" process="@parent"
				action="#{billerProductHandler.editBillerProduct}"
				oncomplete="PF('editBillerProductDlg').hide()" update=":form"></p:commandButton>
		</h:form>
	</p:dialog>

	<p:dialog draggable="false" widgetVar="deleteBillerProductDlg"
		header="Delete Biller Product" id="deleteBillerProductPanel" dynamic="true">
		<h:form id="formDelete">
			<h:outputFormat value="#{val['common.question.delete']}">
				<f:param value="#{billerProductHandler.transBillerProduct.productId}"></f:param>
			</h:outputFormat>
			<div style="height: 14px"></div>
			<p:commandButton value="Submit" process="@parent"
				action="#{billerProductHandler.deleteBillerProduct}"
				oncomplete="PF('deleteBillerProductDlg').hide()" update=":form"></p:commandButton>
			<p:commandButton value="Cancel" process="@none"
				action="#{billerProductHandler.newTransBillerProduct}"
				oncomplete="PF('deleteBillerProductDlg').hide()" update=":form"></p:commandButton>
		</h:form>
	</p:dialog>
</ui:composition>