<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
	<h:form id="form">
		<p:commandButton value="Add Discount" update=":formAdd:addDiscountPanel"
			actionListener="#{discountManagementHandler.preAddDiscount()}"
			oncomplete="PF('addDiscountDlg').show()"></p:commandButton>
		<p:dataTable rows="7" paginator="true" rowsPerPageTemplate="5,10,15"
			paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
			id="discountDT" value="#{discountManagementHandler.discounts}" var="discount">
			<p:column headerText="ID">
				<p:outputLabel value="#{discount.idDiscount}"></p:outputLabel>
			</p:column>
			<p:column headerText="Desc">
				<p:outputLabel value="#{discount.description}"></p:outputLabel>
			</p:column>
			<p:column headerText="Type">
				<p:outputLabel value="#{discount.type}"></p:outputLabel>
			</p:column>
			<p:column headerText="Criteria">
				<p:outputLabel value="#{discount.criteria}"></p:outputLabel>
			</p:column>
			<p:column headerText="Value">
				<p:outputLabel value="#{discount.value}"></p:outputLabel>
			</p:column>
			<p:column headerText="Status">
				<p:inputSwitch offLabel="Inactive" onLabel="Active"
					value="#{discount.status}" disabled="true">
				</p:inputSwitch>
			</p:column>
			
			<p:column>
				<p:commandButton update=":formEdit:editDiscountPanel" process="discountDT"
					actionListener="#{discountManagementHandler.preEditDiscount(discount)}"
					oncomplete="PF('editDiscountDlg').show()" icon="ui-icon-pencil"
					title="edit">
				</p:commandButton>

				<p:commandButton update=":formDelete:deleteDiscountPanel"
					process="discountDT"
					actionListener="#{discountManagementHandler.preDeleteDiscount(discount)}"
					oncomplete="PF('deleteDiscountDlg').show()" icon="ui-icon-trash"
					title="edit">
				</p:commandButton>
			</p:column>
		</p:dataTable>
	</h:form>
	
	<p:dialog draggable="false" widgetVar="addDiscountDlg" header="Add Discount">
		<h:form id="formAdd">
			<p:panelGrid columns="3" id="addDiscountPanel">
				<p:outputLabel value="Desc"></p:outputLabel>
				<p:inputText value="#{discountManagementHandler.transDiscount.description}"
				required="true" autocomplete="off"
				requiredMessage="Description #{val['common.message.error.requiredField']}"></p:inputText>
				<p:outputLabel value=""></p:outputLabel>
				
				<p:outputLabel value="Type"></p:outputLabel>
				<p:selectOneMenu id="type" value="#{discountManagementHandler.transDiscount.type}" style="width:125px">
		            <f:selectItem itemLabel="Nominal" itemValue="Nominal" />
		            <f:selectItem itemLabel="Month" itemValue="Month" />
		        </p:selectOneMenu>
		        <p:outputLabel value=""></p:outputLabel>
		        
				<p:outputLabel value="Criteria"></p:outputLabel>
				<p:inputText value="#{discountManagementHandler.transDiscount.criteria}" id="criteria" title="Minimal pembayaran tagihan untuk mendapatkan promo, diisi 1,2,3"></p:inputText>
    			<p:tooltip id="toolTipCriteria" for="criteria" showEvent="focus" hideEvent="blur" />
				
				<p:outputLabel value="Value"></p:outputLabel>
				<p:inputText value="#{discountManagementHandler.transDiscount.value}" id="value" title="Jika Type Nominal, maka isi nominal discount untuk value promo. Jika Type Month Tidak perlu diisi maka isi angka 1,2,3... "></p:inputText>
    			<p:tooltip id="toolTipValue" for="value" showEvent="focus" hideEvent="blur" />
				
			</p:panelGrid>
			<div style="height: 14px"></div>
			<p:commandButton value="Submit" process="@parent"
				action="#{discountManagementHandler.addDiscount}"
				oncomplete="if (args &amp;&amp; !args.validationFailed) PF('addDiscountDlg').hide()" update=":form"></p:commandButton>
		</h:form>
	</p:dialog>

	<p:dialog draggable="false" widgetVar="editDiscountDlg"
		header="Edit Discount" dynamic="true">
		<h:form id="formEdit">
			<p:panelGrid columns="2" id="editDiscountPanel">
				<p:outputLabel value="ID"></p:outputLabel>
				<p:inputText value="#{discountManagementHandler.transDiscount.idDiscount}" readonly="true" disabled="true"></p:inputText>
				<p:outputLabel value="Desc"></p:outputLabel>
				<p:inputText value="#{discountManagementHandler.transDiscount.description}"></p:inputText>
				<p:outputLabel value="Type"></p:outputLabel>
				<p:selectOneMenu id="type" value="#{discountManagementHandler.transDiscount.type}" style="width:125px">
		            <f:selectItem itemLabel="Nominal" itemValue="Nominal" />
		            <f:selectItem itemLabel="Month" itemValue="Month" />
		        </p:selectOneMenu>
				<p:outputLabel value="Criteria"></p:outputLabel>
				<p:inputText value="#{discountManagementHandler.transDiscount.criteria}"></p:inputText>
				<p:outputLabel value="Value"></p:outputLabel>
				<p:inputText value="#{discountManagementHandler.transDiscount.value}"></p:inputText>
				<p:outputLabel value="Status"></p:outputLabel>
				<p:inputSwitch offLabel="Inactive" onLabel="Active"
					value="#{discountManagementHandler.transDiscount.status}">
				</p:inputSwitch>
				
			</p:panelGrid>
			<div style="height: 14px"></div>
			<p:commandButton value="Submit" process="@parent"
				action="#{discountManagementHandler.editDiscount}"
				oncomplete="PF('editDiscountDlg').hide()" update=":form"></p:commandButton>

			<p:commandButton value="Cancel" process="@this"
				oncomplete="PF('editDiscountDlg').hide()" update=":form"></p:commandButton>
		</h:form>
	</p:dialog>

	<p:dialog draggable="false" widgetVar="deleteDiscountDlg"
		header="Delete Discount">
		<h:form id="formDelete">
			<p:outputPanel id="deleteDiscountPanel">
				<h:outputFormat value="#{val['common.question.delete']}">
					<f:param value="#{discountManagementHandler.transDiscount.description}"></f:param>
				</h:outputFormat>
				<div style="height: 14px"></div>
				<p:commandButton value="Submit" process="@parent"
					action="#{discountManagementHandler.DeleteDiscount()}"
					oncomplete="PF('deleteDiscountDlg').hide()"
					update=":form :form:discountDT"></p:commandButton>
				<p:commandButton value="Cancel" process="@none"
					action="#{discountManagementHandler.newTransDiscount()}"
					oncomplete="PF('deleteDiscountDlg').hide()" update=":form" ></p:commandButton>
			</p:outputPanel>
		</h:form>
	</p:dialog>

</ui:composition>