<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
	<h:form id="form">
		<p:commandButton value="Add Group" update=":formAdd:addGroupPanel"
			actionListener="#{groupManagementHandler.preAddGroup}"
			oncomplete="PF('addGroupDlg').show()"></p:commandButton>
		<p:dataTable rows="7" paginator="true" rowsPerPageTemplate="5,10,15"
			paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
			value="#{groupManagementHandler.groups}" var="group">
			<p:column headerText="Group Id">
				<p:outputLabel value="#{group.username}"></p:outputLabel>
			</p:column>
			<p:column headerText="Image Header" rendered="false">
				<p:outputLabel value="#{group.imageHeader}"></p:outputLabel>
			</p:column>
			<p:column headerText="Status">
				<p:inputSwitch offLabel="Inactive" onLabel="Active"
					value="#{group.status}" disabled="true">
				</p:inputSwitch>
			</p:column>
			<p:column>
				<p:commandButton update=":formEdit:editGroupPanel"
					oncomplete="PF('editGroupDlg').show()" icon="ui-icon-pencil"
					title="edit"
					actionListener="#{groupManagementHandler.preEditGroup(group)}">
				</p:commandButton>
				<p:commandButton update=":deleteGroupPanel"
					disabled="#{groupManagementHandler.isGroupDepedency(group)}"
					oncomplete="PF('deleteGroupDlg').show()" icon="ui-icon-trash"
					title="delete"
					actionListener="#{groupManagementHandler.preEditGroup(group)}">
				</p:commandButton>
			</p:column>
		</p:dataTable>
	</h:form>

	<p:dialog draggable="false" widgetVar="addGroupDlg" header="Add Group">
		<h:form id="formAdd">
			<p:panelGrid columns="2" id="addGroupPanel">
				<p:outputLabel value="Group Id"></p:outputLabel>
				<p:inputText id="groupName"
					value="#{groupManagementHandler.transGroup.username}"
					required="true" autocomplete="off"
					requiredMessage="Group Id #{val['common.message.error.requiredField']}"></p:inputText>

				<p:outputLabel value="Image Header" rendered="false"></p:outputLabel>
				<p:outputPanel rendered="false">
					<p:outputLabel
						value="#{groupManagementHandler.transGroup.imageHeader}"
						rendered="#{groupManagementHandler.transGroup.imageHeader != null ? true : false}"></p:outputLabel>
					<h:inputHidden
						value="#{groupManagementHandler.transGroup.imageHeader}"
						required="true" autocomplete="off"
						requiredMessage="Image Header #{val['common.message.error.requiredField']}" />
					<p:fileUpload update="@parent"
						fileUploadListener="#{groupManagementHandler.uploadImageHeader}"
						mode="advanced" dragDropSupport="true" fileLimit="1"
						allowTypes="/(\.|\/)(gif|jpe?g|png|ico)$/" />
				</p:outputPanel>
			</p:panelGrid>
			<div style="height: 14px"></div>
			<p:commandButton value="Submit" process="@parent"
				actionListener="#{groupManagementHandler.addGroup}"
				oncomplete="if (args &amp;&amp; !args.validationFailed) PF('addGroupDlg').hide()"
				update="growl :form"></p:commandButton>
		</h:form>
	</p:dialog>

	<p:dialog draggable="false" widgetVar="editGroupDlg"
		header="Edit Group">
		<h:form id="formEdit">
			<p:panelGrid columns="2" id="editGroupPanel">
				<p:outputLabel value="Group Id"></p:outputLabel>
				<p:inputText value="#{groupManagementHandler.transGroup.username}"></p:inputText>

				<p:outputLabel value="Image Header" rendered="false"></p:outputLabel>
				<p:outputPanel rendered="false">
					<p:outputLabel
						value="#{groupManagementHandler.transGroup.imageHeader}"
						rendered="#{groupManagementHandler.transGroup.imageHeader != null ? true : false}"></p:outputLabel>
					<p:fileUpload update="@parent"
						fileUploadListener="#{groupManagementHandler.uploadImageHeader}"
						mode="advanced" dragDropSupport="true" fileLimit="1"
						allowTypes="/(\.|\/)(gif|jpe?g|png|ico)$/" />
				</p:outputPanel>
				
				<p:outputLabel value="Status"></p:outputLabel>
				<p:inputSwitch offLabel="Inactive" onLabel="Active"
					value="#{groupManagementHandler.transGroup.status}">
				</p:inputSwitch>
			</p:panelGrid>
			<div style="height: 14px"></div>
			<p:commandButton value="Submit" process="@parent"
				actionListener="#{groupManagementHandler.editGroup()}"
				oncomplete="PF('editGroupDlg').hide()" update=":form"></p:commandButton>
		</h:form>
	</p:dialog>

	<p:dialog draggable="false" widgetVar="deleteGroupDlg"
		header="Delete Group" id="deleteGroupPanel">
		<h:form id="formDelete">
			<h:outputFormat value="#{val['common.question.delete']}">
				<f:param value="#{groupManagementHandler.transGroup.username}"></f:param>
			</h:outputFormat>
			<div style="height: 14px"></div>
			<p:commandButton value="Submit" process="@parent"
				actionListener="#{groupManagementHandler.deleteGroup()}"
				oncomplete="PF('deleteGroupDlg').hide()" update=":form"></p:commandButton>
			<p:commandButton value="Cancel" process="@none"
				actionListener="#{groupManagementHandler.newTransGroup()}"
				oncomplete="PF('deleteGroupDlg').hide()" update=":form"></p:commandButton>
		</h:form>
	</p:dialog>
</ui:composition>