<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
	<h:form id="form">
		<p:commandButton draggable="false" value="Add Group Menu"
			update=":formAdd:addMenuPanel"
			actionListener="#{groupMenuHandler.preAddGroupMenu()}"
			oncomplete="PF('addMenuDlg').show()">
		</p:commandButton>
		<p:dataTable rows="7" paginator="true" rowsPerPageTemplate="5,10,15"
			paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
			value="#{groupMenuHandler.groupMenu}" var="menu">
			<p:column headerText="Id">
				<p:outputLabel value="#{menu.id}"></p:outputLabel>
			</p:column>
			<p:column headerText="Group Name">
				<p:outputLabel value="#{menu.groupName}"></p:outputLabel>
			</p:column>

			<p:column>
				<p:commandButton draggable="false" update=":formEdit:editMenuPanel"
					oncomplete="PF('editMenuDlg').show()" icon="ui-icon-pencil"
					title="edit">
					<f:setPropertyActionListener value="#{menu}"
						target="#{groupMenuHandler.transGroupMenu}" />
				</p:commandButton>

				<p:commandButton draggable="false" update=":deleteMenuPanel"
					oncomplete="PF('deleteMenuDlg').show()" icon="ui-icon-trash"
					title="delete">
					<f:setPropertyActionListener value="#{menu}"
						target="#{groupMenuHandler.transGroupMenu}" />
				</p:commandButton>
			</p:column>
		</p:dataTable>
	</h:form>

	<p:dialog draggable="false" widgetVar="addMenuDlg"
		header="Add Group Menu" dynamic="true">
		<h:form id="formAdd">
			<p:panelGrid columns="2" id="addMenuPanel">
				<p:outputLabel value="Group Name"></p:outputLabel>
				<p:inputText value="#{groupMenuHandler.transGroupMenu.groupName}"
					required="true" autocomplete="off"
					requiredMessage="Group Name #{val['common.message.error.requiredField']}"></p:inputText>
			</p:panelGrid>
			<div style="height: 14px"></div>
			<p:commandButton value="Submit" process="@parent"
				actionListener="#{groupMenuHandler.addGroupMenu}"
				oncomplete="if (args &amp;&amp; !args.validationFailed) PF('addMenuDlg').hide()"
				update="growl :form"></p:commandButton>
		</h:form>
	</p:dialog>

	<p:dialog draggable="false" widgetVar="editMenuDlg"
		header="Edit Group Menu" dynamic="true">
		<h:form id="formEdit">
			<p:panelGrid columns="2" id="editMenuPanel">
				<p:outputLabel value="Id"></p:outputLabel>
				<p:inputText value="#{groupMenuHandler.transGroupMenu.id}"
					readonly="true" disabled="true"></p:inputText>
				<p:outputLabel value="Group Name"></p:outputLabel>
				<p:inputText value="#{groupMenuHandler.transGroupMenu.groupName}"></p:inputText>

			</p:panelGrid>
			<div style="height: 14px"></div>
			<p:commandButton value="Submit" process="@parent"
				action="#{groupMenuHandler.addGroupMenu}"
				oncomplete="PF('editMenuDlg').hide()" update=":form"></p:commandButton>
		</h:form>
	</p:dialog>

	<p:dialog draggable="false" widgetVar="deleteMenuDlg"
		header="Delete Group Menu" id="deleteMenuPanel" dynamic="true">
		<h:form id="formDelete">
			<h:outputFormat value="#{val['common.question.delete']}">
				<f:param value="#{groupMenuHandler.transGroupMenu.id}"></f:param>
			</h:outputFormat>
			<div style="height: 14px"></div>
			<p:commandButton value="Submit" process="@parent"
				action="#{groupMenuHandler.deleteGroupMenu}"
				oncomplete="PF('deleteMenuDlg').hide()" update=":form"></p:commandButton>
			<p:commandButton value="Cancel" process="@none"
				action="#{groupMenuHandler.newTransGroupMenu}"
				oncomplete="PF('deleteMenuDlg').hide()" update=":form"></p:commandButton>
		</h:form>
	</p:dialog>
</ui:composition>