<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
	<h:form id="form">
		<p:commandButton value="Generate Bill"
			update=":formAdd:addInvoicePanel"
			actionListener="#{invoiceManagementHandler.newTransInvoice}"
			oncomplete="PF('addInvoiceDlg').show()"></p:commandButton>
		<p:accordionPanel>
			<c:forEach items="#{invoiceManagementHandler.invoicesMap}"
				var="invoices" varStatus="loop">
				<p:tab title="#{invoices.key}">
					<p:dataTable rows="7" paginator="true"
						rowsPerPageTemplate="5,10,15" id="invoiceDT#{loop.index}"
						paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
						value="#{invoices.value}" var="invoice">

						<f:facet name="header">
							<p:commandLink value="Download Excel" ajax="false" disabled="#{invoices.value == null}">
								<p:dataExporter type="xlsx" target="invoiceDT#{loop.index}" fileName="bill" />
							</p:commandLink>
							<p:outputLabel value="     "></p:outputLabel>
							<p:commandLink value="Download PDF" ajax="false">
								<p:dataExporter type="pdf" target="invoiceDT#{loop.index}" fileName="bill"  preProcessor="#{invoiceManagementHandler.preProcessPDF}"/>
							</p:commandLink>
						</f:facet>
						
						<p:column width="100" exportable="false">
							<p:commandButton update=":formEdit:editInvoicePanel"
								process="invoiceDT#{loop.index}"
								actionListener="#{invoiceManagementHandler.preEditInvoice(invoice)}"
								oncomplete="PF('editBillDlg').show()" icon="ui-icon-pencil"
								title="edit">
							</p:commandButton>
						</p:column>

						<p:column headerText="Invoice Id" width="200" sortBy="#{invoice.billId}" filterBy="#{invoice.billId}">
							<p:outputLabel value="#{invoice.billId}"></p:outputLabel>
						</p:column>
						<p:column headerText="bill Id" width="200" sortBy="#{invoice.ibsBillDetail.billsId}" filterBy="#{invoice.ibsBillDetail.billsId}">
							<p:outputLabel value="#{invoice.ibsBillDetail.billsId}"></p:outputLabel>
						</p:column>
						<p:column headerText="Periode" width="200" sortBy="#{invoice.billPeriode}" filterBy="#{invoice.billPeriode}">
							<p:outputLabel value="#{invoice.billPeriode}"></p:outputLabel>
						</p:column>
						<p:column headerText="Paid Date" width="200">
							<p:outputLabel value="#{invoice.paidDate}">
								<f:convertDateTime pattern="dd/MM/yyyy"></f:convertDateTime>
							</p:outputLabel>
						</p:column>
						<p:column headerText="Amount" width="200" sortBy="#{invoice.amount}" filterBy="#{invoice.amount}">
							<p:outputLabel value="#{invoice.amount}">

							</p:outputLabel>
						</p:column>
						<p:column headerText="Valid" width="200">
							<p:inputSwitch offLabel="Invalid" onLabel="Valid"
								value="#{invoice.valid}" disabled="true">
							</p:inputSwitch>
						</p:column>
						<p:column headerText="Create Date" width="200">
							<p:outputLabel value="#{invoice.createDate}">
								<f:convertDateTime pattern="dd/MM/yyyy"></f:convertDateTime>
							</p:outputLabel>
						</p:column>
						<p:column headerText="ID Pelanggan" width="200" sortBy="#{invoice.ibsBillDetail.idPelanggan}" filterBy="#{invoice.ibsBillDetail.idPelanggan}">
							<p:outputLabel value="#{invoice.ibsBillDetail.idPelanggan}"></p:outputLabel>
						</p:column>
						<p:column headerText="Nama " width="200" sortBy="#{invoice.ibsBillDetail.namaPelanggan}" filterBy="#{invoice.ibsBillDetail.namaPelanggan}">
							<p:outputLabel value="#{invoice.ibsBillDetail.namaPelanggan}"></p:outputLabel>
						</p:column>
						<p:column headerText="Perumahan" width="200" sortBy="#{invoice.ibsBillDetail.namaPerumahan}" filterBy="#{invoice.ibsBillDetail.namaPerumahan}">
							<p:outputLabel value="#{invoice.ibsBillDetail.namaPerumahan}"></p:outputLabel>
						</p:column>

						<p:column headerText="Detail" exportable="false" width="100">
							<p:commandButton icon="ui-icon-search"
								oncomplete="PF('detailDlg').show()"
								update=":detailBill:detailDlgPanel">
								<f:setPropertyActionListener value="#{invoice.ibsBillDetail}"
									target="#{invoiceManagementHandler.transIbsBillDetail}" />
							</p:commandButton>
						</p:column>

					</p:dataTable>
				</p:tab>
			</c:forEach>
		</p:accordionPanel>
	</h:form>

	<p:dialog draggable="false" widgetVar="detailDlg">
		<h:form id="detailBill">
			<p:panelGrid columns="2" id="detailDlgPanel">
				<p:outputLabel value="Id Pelanggan">
				</p:outputLabel>
				<p:inputText readonly="true" disabled="true"
					value="#{invoiceManagementHandler.transIbsBillDetail.idPelanggan}"></p:inputText>
				<p:outputLabel value="Nama Pelanggan">
				</p:outputLabel>
				<p:inputText readonly="true" disabled="true"
					value="#{invoiceManagementHandler.transIbsBillDetail.namaPelanggan}"></p:inputText>
				<p:outputLabel value="No HP">
				</p:outputLabel>
				<p:inputText readonly="true" disabled="true"
					value="#{invoiceManagementHandler.transIbsBillDetail.noHP}"></p:inputText>
				<p:outputLabel value="Email">
				</p:outputLabel>
				<p:inputText readonly="true" disabled="true"
					value="#{invoiceManagementHandler.transIbsBillDetail.email}"></p:inputText>
				<p:outputLabel value="Nama Perumahan">
				</p:outputLabel>
				<p:inputText readonly="true" disabled="true"
					value="#{invoiceManagementHandler.transIbsBillDetail.namaPerumahan}"></p:inputText>
				<p:outputLabel value="Alamat">
				</p:outputLabel>
				<p:inputText readonly="true" disabled="true"
					value="#{invoiceManagementHandler.transIbsBillDetail.alamat}"></p:inputText>
				<p:outputLabel value="No Block">
				</p:outputLabel>
				<p:inputText readonly="true" disabled="true"
					value="#{invoiceManagementHandler.transIbsBillDetail.noBlock}"></p:inputText>
				<p:outputLabel value="Kel / Kec">
				</p:outputLabel>
				<p:inputText readonly="true" disabled="true"
					value="#{invoiceManagementHandler.transIbsBillDetail.kelKec}"></p:inputText>
				<p:outputLabel value="Kab / Kota">
				</p:outputLabel>
				<p:inputText readonly="true" disabled="true"
					value="#{invoiceManagementHandler.transIbsBillDetail.kabKota}"></p:inputText>
				<p:outputLabel value="Provinsi">
				</p:outputLabel>
				<p:inputText readonly="true" disabled="true"
					value="#{invoiceManagementHandler.transIbsBillDetail.provinsi}"></p:inputText>
				<p:outputLabel value="Luas Tanah">
				</p:outputLabel>
				<p:inputText readonly="true" disabled="true"
					value="#{invoiceManagementHandler.transIbsBillDetail.luasTanah}"></p:inputText>
			</p:panelGrid>
		</h:form>
	</p:dialog>

	<p:dialog draggable="false" widgetVar="addInvoiceDlg"
		header="Add Invoice" dynamic="true">
		<h:form id="formAdd">
			<p:panelGrid columns="3" id="addInvoicePanel"
				styleClass="removePanelBorder">
				<p:outputLabel value="From "></p:outputLabel>
				<p:selectOneMenu value="#{invoiceManagementHandler.fromMonth}">
					<f:selectItem itemLabel="January" itemValue="01" />
					<f:selectItem itemLabel="February" itemValue="02" />
					<f:selectItem itemLabel="March" itemValue="03" />
					<f:selectItem itemLabel="April" itemValue="04" />
					<f:selectItem itemLabel="May" itemValue="05" />
					<f:selectItem itemLabel="June" itemValue="06" />
					<f:selectItem itemLabel="July" itemValue="07" />
					<f:selectItem itemLabel="August" itemValue="08" />
					<f:selectItem itemLabel="September" itemValue="09" />
					<f:selectItem itemLabel="October" itemValue="10" />
					<f:selectItem itemLabel="November" itemValue="11" />
					<f:selectItem itemLabel="December" itemValue="12" />
				</p:selectOneMenu>
				<p:selectOneMenu value="#{invoiceManagementHandler.fromYear}">
					<f:selectItems value="#{invoiceManagementHandler.availDate}"
						var="availDate" itemLabel="#{availDate}" itemValue="#{availDate}" />
				</p:selectOneMenu>
				<p:outputLabel value="To "></p:outputLabel>
				<p:selectOneMenu value="#{invoiceManagementHandler.toMonth}">
					<f:selectItem itemLabel="January" itemValue="01" />
					<f:selectItem itemLabel="February" itemValue="02" />
					<f:selectItem itemLabel="March" itemValue="03" />
					<f:selectItem itemLabel="April" itemValue="04" />
					<f:selectItem itemLabel="May" itemValue="05" />
					<f:selectItem itemLabel="June" itemValue="06" />
					<f:selectItem itemLabel="July" itemValue="07" />
					<f:selectItem itemLabel="August" itemValue="08" />
					<f:selectItem itemLabel="September" itemValue="09" />
					<f:selectItem itemLabel="October" itemValue="10" />
					<f:selectItem itemLabel="November" itemValue="11" />
					<f:selectItem itemLabel="December" itemValue="12" />
				</p:selectOneMenu>
				<p:selectOneMenu value="#{invoiceManagementHandler.toYear}">
					<f:selectItems value="#{invoiceManagementHandler.availDate}"
						var="availDate" itemLabel="#{availDate}" itemValue="#{availDate}" />
				</p:selectOneMenu>
			</p:panelGrid>
			<div style="height: 14px"></div>
			
			<p:scrollPanel mode="native" style="width:800px;height:400px">
				<p:dataTable var="dtPelanggan" value="#{invoiceManagementHandler.dataTagihanPelanggan}" rowKey="#{dtPelanggan.billsId}" selection="#{invoiceManagementHandler.selectedDataTagihanPelanggan}" 
					rows="7" paginator="true" rowsPerPageTemplate="5,10,15" paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">
					<f:facet name="header">
			            Please Select
			        </f:facet>
			        <p:column selectionMode="multiple" style="width:16px;text-align:center"/>
				    <p:column headerText="No Pelanggan" sortBy="#{dtPelanggan.idPelanggan}" filterBy="#{dtPelanggan.idPelanggan}" filterMatchMode="contains">
				        <h:outputText value="#{dtPelanggan.idPelanggan}"/>
				    </p:column>
				    <p:column headerText="Nama" sortBy="#{dtPelanggan.namaPelanggan}" filterBy="#{dtPelanggan.namaPelanggan}" filterMatchMode="contains">
				        <h:outputText value="#{dtPelanggan.namaPelanggan}"/>
				    </p:column>
				    <p:column headerText="Perumahan" sortBy="#{dtPelanggan.namaPerumahan}" filterBy="#{dtPelanggan.namaPerumahan}" filterMatchMode="contains">
				        <h:outputText value="#{dtPelanggan.namaPerumahan}"/>
				    </p:column>
				</p:dataTable>
		    </p:scrollPanel>
		    
			<div style="height: 14px"></div>
			<p:commandButton value="GENERATE" process="@parent"
				action="#{invoiceManagementHandler.addInvoice}"
				oncomplete="PF('placeOrderButton').enable(); javascript:location.reload(true)"
				update="growl :form"
				widgetVar="placeOrderButton"
				onstart="PF('placeOrderButton').disable();">
			</p:commandButton>
		</h:form>
	</p:dialog>

	<p:dialog draggable="false" widgetVar="editBillDlg"
		header="Edit Bill Invoice" dynamic="true">
		<h:form id="formEdit">
			<p:panelGrid columns="2" id="editInvoicePanel">
				<p:outputLabel value="Invoice Id" width="200"></p:outputLabel>
				<p:inputText value="#{invoiceManagementHandler.transInvoice.billId}"></p:inputText>
				
				<p:outputLabel value="bill Id" width="200"></p:outputLabel>
				<p:inputText value="#{invoiceManagementHandler.transInvoice.ibsBillDetail.billsId}"></p:inputText>
				
				<p:outputLabel value="Month"></p:outputLabel>
				<p:selectOneMenu value="#{invoiceManagementHandler.fromMonth}">
					<f:selectItem itemLabel="January" itemValue="01" />
					<f:selectItem itemLabel="February" itemValue="02" />
					<f:selectItem itemLabel="March" itemValue="03" />
					<f:selectItem itemLabel="April" itemValue="04" />
					<f:selectItem itemLabel="May" itemValue="05" />
					<f:selectItem itemLabel="June" itemValue="06" />
					<f:selectItem itemLabel="July" itemValue="07" />
					<f:selectItem itemLabel="August" itemValue="08" />
					<f:selectItem itemLabel="September" itemValue="09" />
					<f:selectItem itemLabel="October" itemValue="10" />
					<f:selectItem itemLabel="November" itemValue="11" />
					<f:selectItem itemLabel="December" itemValue="12" />
				</p:selectOneMenu>
				
				<p:outputLabel value="Year"></p:outputLabel>
				<p:selectOneMenu value="#{invoiceManagementHandler.fromYear}">
					<f:selectItems value="#{invoiceManagementHandler.availDate}"
						var="availDate" itemLabel="#{availDate}" itemValue="#{availDate}" />
				</p:selectOneMenu>
				
				<p:outputLabel value="Amount" width="200"></p:outputLabel>
				<p:inputText value="#{invoiceManagementHandler.transInvoice.amount}"></p:inputText>
				
				<p:outputLabel value="Valid" width="200"></p:outputLabel>
				<p:inputSwitch offLabel="Invalid" onLabel="Valid"
					value="#{invoiceManagementHandler.transInvoice.valid}">
				</p:inputSwitch>
				
				<p:outputLabel value="Denda" width="200"></p:outputLabel>
				<p:selectBooleanCheckbox value="#{invoiceManagementHandler.transInvoice.denda}" />
			</p:panelGrid>
			<div style="height: 14px"></div>
			<p:commandButton value="Submit" process="@parent"
				action="#{invoiceManagementHandler.editInvoice}" oncomplete="javascript:location.reload(true)"
				update=":form"></p:commandButton>

			<p:commandButton value="Cancel" process="@this"
				oncomplete="PF('editBillDlg').hide()" update=":form"></p:commandButton>
		</h:form>
	</p:dialog>
</ui:composition>