<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<title>#{val['page.login.title']}</title>
	<link rel="shortcut icon" type="image/x-icon" href="#{resource['image/value.png']}"/>
</h:head>
<h:body class="bodyCustom"
	style="background-image:url(#{resource['image/background.png']})">
	<h:outputStylesheet library="css" name="style.css"></h:outputStylesheet>
	<h:outputScript name="js/util.js" />
	<h:form>
		<p:growl id="messages" globalOnly="true" showDetail="true"
			showSummary="true" autoUpdate="true"></p:growl>
		<p:graphicImage styleClass="centeredPanel" value="#{resource['image/box.png']}"/>
		<p:outputPanel styleClass="centeredForm">
			<p:panelGrid columns="2" style="width:100%" styleClass="removePanelBorder">
				<p:graphicImage value="#{resource['image/user.png']}"/>
				<p:inputText value="#{loginHandler.username}" style="width: 100%"></p:inputText>
				<p:graphicImage library="image" name="pass.png" />
				<p:password value="#{loginHandler.password}" style="width: 100%"></p:password>
			</p:panelGrid>
			<p:commandButton value="Login" action="#{loginHandler.login()}"
				update="messages" style="margin-top: 2px;float: right;width: 100%;"></p:commandButton>
		</p:outputPanel>
	</h:form>
</h:body>
</html>