<ui:composition template="/WEB-INF/template-page/main-template.xhtml"
     xmlns="http://www.w3.org/1999/xhtml"
     xmlns:f="http://java.sun.com/jsf/core"
     xmlns:h="http://java.sun.com/jsf/html"
     xmlns:ui="http://java.sun.com/jsf/facelets"
     xmlns:p="http://primefaces.org/ui"
     xmlns:c="http://java.sun.com/jsp/jstl/core">
	<ui:define name="title">
	<c:set var="titleVal" value="page.#{selectedMenu.title}.title"></c:set>
         #{selectedMenu == null? 'Welcome' : 'PADI IPL'}
     </ui:define>
     <ui:define name="content">
         <ui:include src="#{selectedMenu.url!=null?selectedMenu.url:'/pages/transaction-summary.xhtml'}" />
     </ui:define>
</ui:composition>