<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
	<h:form id="form">
		<p:commandButton value="Add Menu" update=":formAdd:addMenuPanel"
			actionListener="#{menuManagementHandler.newTransMenu}"
			oncomplete="PF('addMenuDlg').show()"></p:commandButton>
		<p:dataTable rows="7" paginator="true" rowsPerPageTemplate="5,10,15"
			paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
			value="#{menuManagementHandler.menus}" var="menu">
			<p:column headerText="Menu Id">
				<p:outputLabel value="#{menu.menuId}"></p:outputLabel>
			</p:column>
			<p:column headerText="Menu Name">
				<p:outputLabel value="#{menu.value}"></p:outputLabel>
			</p:column>
			<p:column headerText="URL">
				<p:outputLabel value="#{menu.url}"></p:outputLabel>
			</p:column>
			<p:column headerText="Menu Level">
				<p:outputLabel value="#{menu.menuLevel}"></p:outputLabel>
			</p:column>
			<p:column headerText="Group Menu">
				<p:outputLabel value="#{menu.groupMenu.groupName}"></p:outputLabel>
			</p:column>
			<p:column>
				<p:commandButton update=":formEdit:editMenuPanel"
					oncomplete="PF('editMenuDlg').show()" icon="ui-icon-pencil"
					title="edit">
					<f:setPropertyActionListener value="#{menu}"
						target="#{menuManagementHandler.transMenu}" />
				</p:commandButton>
				<p:commandButton update=":deleteMenuPanel"
					oncomplete="PF('deleteMenuDlg').show()" icon="ui-icon-trash"
					title="delete">
					<f:setPropertyActionListener value="#{menu}"
						target="#{menuManagementHandler.transMenu}" />
				</p:commandButton>
			</p:column>
		</p:dataTable>
	</h:form>

	<p:dialog draggable="false" widgetVar="addMenuDlg" header="Add Menu"
		dynamic="true">
		<h:form id="formAdd">
			<p:panelGrid columns="2" id="addMenuPanel">
				<p:outputLabel value="Menu Name"></p:outputLabel>
				<p:inputText value="#{menuManagementHandler.transMenu.value}"
					required="true" autocomplete="off"
					requiredMessage="Menu Name #{val['common.message.error.requiredField']}"></p:inputText>
				<p:outputLabel value="URL"></p:outputLabel>
				<p:inputText value="#{menuManagementHandler.transMenu.url}"
					required="true" autocomplete="off"
					requiredMessage="URL #{val['common.message.error.requiredField']}"></p:inputText>
				<p:outputLabel value="Menu Level"></p:outputLabel>
				<p:inputNumber value="#{menuManagementHandler.transMenu.menuLevel}"
					minValue="1" decimalPlaces="0"></p:inputNumber>
				<p:outputLabel value="Group Menu"></p:outputLabel>
				<p:selectOneMenu
					value="#{menuManagementHandler.transMenu.groupMenu}"
					converter="#{groupMenuConverter}">
					<f:selectItems value="#{menuManagementHandler.availGroupMenu}"
						var="GM" itemLabel="#{GM.groupName}" itemValue="#{GM}" />
				</p:selectOneMenu>
			</p:panelGrid>
			<div style="height: 14px"></div>
			<p:commandButton value="Submit" process="@parent"
				action="#{menuManagementHandler.addMenu}"
				oncomplete="if (args &amp;&amp; !args.validationFailed) PF('addMenuDlg').hide()"
				update="growl :form"></p:commandButton>
		</h:form>
	</p:dialog>

	<p:dialog draggable="false" widgetVar="editMenuDlg" header="Edit Menu"
		dynamic="true">
		<h:form id="formEdit">
			<p:panelGrid columns="2" id="editMenuPanel">
				<p:outputLabel value="Menu Id"></p:outputLabel>
				<p:inputText value="#{menuManagementHandler.transMenu.menuId}"
					readonly="true" disabled="true"></p:inputText>
				<p:outputLabel value="Menu Name"></p:outputLabel>
				<p:inputText value="#{menuManagementHandler.transMenu.value}"></p:inputText>
				<p:outputLabel value="URL"></p:outputLabel>
				<p:inputText value="#{menuManagementHandler.transMenu.url}"></p:inputText>
				<p:outputLabel value="Menu Level"></p:outputLabel>
				<p:inputText value="#{menuManagementHandler.transMenu.menuLevel}"></p:inputText>
				<p:outputLabel value="Group Menu"></p:outputLabel>
				<p:selectOneMenu
					value="#{menuManagementHandler.transMenu.groupMenu}"
					converter="#{groupMenuConverter}">
					<f:selectItems value="#{menuManagementHandler.availGroupMenu}"
						var="GM" itemLabel="#{GM.groupName}" itemValue="#{GM}" />
				</p:selectOneMenu>
			</p:panelGrid>
			<div style="height: 14px"></div>
			<p:commandButton value="Submit" process="@parent"
				action="#{menuManagementHandler.editMenu()}"
				oncomplete="PF('editMenuDlg').hide()" update=":form"></p:commandButton>
		</h:form>
	</p:dialog>

	<p:dialog draggable="false" widgetVar="deleteMenuDlg"
		header="Delete Menu" id="deleteMenuPanel" dynamic="true">
		<h:form id="formDelete">
			<h:outputFormat value="#{val['common.question.delete']}">
				<f:param value="#{menuManagementHandler.transMenu.value}"></f:param>
			</h:outputFormat>
			<div style="height: 14px"></div>
			<p:commandButton value="Submit" process="@parent"
				action="#{menuManagementHandler.deleteMenu()}"
				oncomplete="PF('deleteMenuDlg').hide()" update=":form"></p:commandButton>
			<p:commandButton value="Cancel" process="@none"
				action="#{menuManagementHandler.newTransMenu()}"
				oncomplete="PF('deleteMenuDlg').hide()" update=":form"></p:commandButton>
		</h:form>
	</p:dialog>

</ui:composition>