<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
	<h:form id="form">
		<p:accordionPanel>
			<c:forEach items="#{invoiceManagementHandler.invoicesMap}"
				var="invoices" varStatus="loop">
				<p:tab title="#{invoices.key}">
					<p:dataTable rows="7" paginator="true"
						rowsPerPageTemplate="5,10,15" id="datatable#{loop.index}"
						paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
						value="#{invoices.value}" var="invoice">
						<f:facet name="header">
							<p:commandLink value="Download Excel" ajax="false">
								<p:dataExporter type="xlsx" target="datatable#{loop.index}" fileName="bill" />
							</p:commandLink>
							<p:outputLabel value="     "></p:outputLabel>
							<p:commandLink value="Download PDF" ajax="false">
								<p:dataExporter type="pdf" target="datatable#{loop.index}" fileName="bill"  preProcessor="#{invoiceManagementHandler.preProcessPDF}"/>
							</p:commandLink>
						</f:facet>

						<p:column headerText="Invoice Id" width="200"
							filterBy="#{invoice.billId}" sortBy="#{invoice.billId}">
							<p:outputLabel value="#{invoice.billId}"></p:outputLabel>
						</p:column>
						<p:column headerText="bill Id" width="200"
							filterBy="#{invoice.ibsBillDetail.billsId}"
							sortBy="#{invoice.ibsBillDetail.billsId}">
							<p:outputLabel value="#{invoice.ibsBillDetail.billsId}"></p:outputLabel>
						</p:column>
						<p:column headerText="Periode" width="200"
							filterBy="#{invoice.billPeriode}" sortBy="#{invoice.billPeriode}">
							<p:outputLabel value="#{invoice.billPeriode}"></p:outputLabel>
						</p:column>
						<p:column headerText="Paid Date" width="200"
							filterBy="#{invoice.paidDateWeb}" sortBy="#{invoice.paidDateWeb}">
							<p:outputLabel value="#{invoice.paidDateWeb}">
							</p:outputLabel>
						</p:column>
						<p:column headerText="Paid Status" width="200"
							filterBy="#{invoice.paidStatus}" sortBy="#{invoice.paidStatus}">
							<p:outputLabel value="#{invoice.paidStatus}">

							</p:outputLabel>
						</p:column>
						<p:column headerText="Amount" width="200"
							filterBy="#{invoice.amount}" sortBy="#{invoice.amount}">
							<p:outputLabel value="#{invoice.amount}">

							</p:outputLabel>
						</p:column>
						
						<p:column headerText="ID Pelanggan" width="200">
							<p:outputLabel value="#{invoice.ibsBillDetail.idPelanggan}"></p:outputLabel>
						</p:column>
						<p:column headerText="Nama " width="200">
							<p:outputLabel value="#{invoice.ibsBillDetail.namaPelanggan}"></p:outputLabel>
						</p:column>
						<p:column headerText="Perumahan" width="200">
							<p:outputLabel value="#{invoice.ibsBillDetail.namaPerumahan}"></p:outputLabel>
						</p:column>

						<p:column headerText="Detail" exportable="false" width="100">
							<p:commandButton icon="ui-icon-search"
								oncomplete="PF('detailDlg').show()"
								update=":detailBill:detailDlgPanel">
								<f:setPropertyActionListener value="#{invoice.ibsBillDetail}"
									target="#{invoiceManagementHandler.transIbsBillDetail}" />
							</p:commandButton>
						</p:column>
						
					</p:dataTable>
				</p:tab>
			</c:forEach>
		</p:accordionPanel>
	</h:form>
	
	<p:dialog draggable="false" widgetVar="detailDlg">
		<h:form id="detailBill">
			<p:panelGrid columns="2" id="detailDlgPanel">
				<p:outputLabel value="Id Pelanggan">
				</p:outputLabel>
				<p:inputText readonly="true" disabled="true"
					value="#{invoiceManagementHandler.transIbsBillDetail.idPelanggan}"></p:inputText>
				<p:outputLabel value="Nama Pelanggan">
				</p:outputLabel>
				<p:inputText readonly="true" disabled="true"
					value="#{invoiceManagementHandler.transIbsBillDetail.namaPelanggan}"></p:inputText>
				<p:outputLabel value="No HP">
				</p:outputLabel>
				<p:inputText readonly="true" disabled="true"
					value="#{invoiceManagementHandler.transIbsBillDetail.noHP}"></p:inputText>
				<p:outputLabel value="Email">
				</p:outputLabel>
				<p:inputText readonly="true" disabled="true"
					value="#{invoiceManagementHandler.transIbsBillDetail.email}"></p:inputText>
				<p:outputLabel value="Nama Perumahan">
				</p:outputLabel>
				<p:inputText readonly="true" disabled="true"
					value="#{invoiceManagementHandler.transIbsBillDetail.namaPerumahan}"></p:inputText>
				<p:outputLabel value="Alamat">
				</p:outputLabel>
				<p:inputText readonly="true" disabled="true"
					value="#{invoiceManagementHandler.transIbsBillDetail.alamat}"></p:inputText>
				<p:outputLabel value="No Block">
				</p:outputLabel>
				<p:inputText readonly="true" disabled="true"
					value="#{invoiceManagementHandler.transIbsBillDetail.noBlock}"></p:inputText>
				<p:outputLabel value="Kel / Kec">
				</p:outputLabel>
				<p:inputText readonly="true" disabled="true"
					value="#{invoiceManagementHandler.transIbsBillDetail.kelKec}"></p:inputText>
				<p:outputLabel value="Kab / Kota">
				</p:outputLabel>
				<p:inputText readonly="true" disabled="true"
					value="#{invoiceManagementHandler.transIbsBillDetail.kabKota}"></p:inputText>
				<p:outputLabel value="Provinsi">
				</p:outputLabel>
				<p:inputText readonly="true" disabled="true"
					value="#{invoiceManagementHandler.transIbsBillDetail.provinsi}"></p:inputText>
				<p:outputLabel value="Luas Tanah">
				</p:outputLabel>
				<p:inputText readonly="true" disabled="true"
					value="#{invoiceManagementHandler.transIbsBillDetail.luasTanah}"></p:inputText>
			</p:panelGrid>
		</h:form>
	</p:dialog>
</ui:composition>