<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
	<h:form id="form">
		<p:commandButton value="Add Role" update=":formAdd:addRolePanel"
			actionListener="#{roleManagementHandler.preAddRole()}"
			oncomplete="PF('addRoleDlg').show()"></p:commandButton>
		<p:dataTable rows="7" paginator="true" rowsPerPageTemplate="5,10,15"
			paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
			id="roleDT" value="#{roleManagementHandler.roles}" var="role">
			<p:column headerText="Role Id">
				<p:outputLabel value="#{role.roleId}"></p:outputLabel>
			</p:column>
			<p:column headerText="Role Name">
				<p:outputLabel value="#{role.roleName}"></p:outputLabel>
			</p:column>
			<p:column>
				<p:commandButton update=":formEdit"
					actionListener="#{roleManagementHandler.loadMenu(role)}"
					process="roleDT" oncomplete="PF('editRoleDlg').show()"
					icon="ui-icon-pencil" title="edit">
				</p:commandButton>
				<p:commandButton update=":formDelete:deleteRolePanel"
					actionListener="#{roleManagementHandler.preEditRole(role)}"
					oncomplete="PF('deleteRoleDlg').show()" icon="ui-icon-trash"
					title="delete">
				</p:commandButton>
			</p:column>
		</p:dataTable>
	</h:form>
	<p:dialog draggable="false" widgetVar="editRoleDlg" header="Edit Role"
		closable="false" id="editRoleWidget" appendTo="@(body)" dynamic="true">
		<h:form id="formEdit">
			<p:panelGrid columns="2">
				<p:outputLabel value="Role Id"></p:outputLabel>
				<p:inputText value="#{roleManagementHandler.transRole.roleId}"
					readonly="true" disabled="true"></p:inputText>
				<p:outputLabel value="Role Name"></p:outputLabel>
				<p:inputText value="#{roleManagementHandler.transRole.roleName}"></p:inputText>
				<p:outputLabel value="Master"></p:outputLabel>
				<p:inputSwitch offLabel="No" onLabel="Yes"
					value="#{roleManagementHandler.transRole.master}">
				</p:inputSwitch>
			</p:panelGrid>
			<div style="height: 14px"></div>
			<p:dataTable rows="5" paginator="true"
				paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}"
				id="roleMenuDT" value="#{roleManagementHandler.roleMenus}"
				var="roleMenu" tableStyle="width:auto;">
				<f:facet name="header">
					<p:commandButton icon="ui-icon-plus"
						actionListener="#{roleManagementHandler.addRoleMenusItem()}"
						update="@parent"></p:commandButton>
				</f:facet>

				<p:column headerText="Menu Name">
					<p:outputLabel value="#{roleMenu.menu.value}"></p:outputLabel>
				</p:column>
				<p:column>
					<p:commandButton icon="ui-icon-pencil" process=":formEdit"
						actionListener="#{roleManagementHandler.preEditRM(roleMenu)}"
						update=":formEditMenu" oncomplete="PF('editMenuDlg').show()">
					</p:commandButton>

					<p:commandButton update=":formDeleteRM:deleteRoleMenuPanel"
						oncomplete="PF('deleteRoleMenuDlg').show()" icon="ui-icon-trash"
						title="delete">
						<f:setPropertyActionListener value="#{roleMenu}"
							target="#{roleManagementHandler.transRoleMenu}" />
					</p:commandButton>
				</p:column>
			</p:dataTable>
			<div style="height: 14px"></div>
			<p:commandButton value="Submit" process="@parent"
				action="#{roleManagementHandler.editRole()}"
				oncomplete="PF('editRoleDlg').hide()" update=":form :form:roleDT"></p:commandButton>
			<p:commandButton value="Cancel" process="@none"
				action="#{roleManagementHandler.newTransRole()}"
				oncomplete="PF('editRoleDlg').hide()" update=":form"></p:commandButton>
		</h:form>
	</p:dialog>

	<p:dialog draggable="false" widgetVar="editMenuDlg" header="Edit Menu" appendTo="@(body)" dynamic="true">
		<h:form id="formEditMenu">
			<p:panelGrid columns="2">
				<p:outputLabel value="Menu Name"></p:outputLabel>
				<p:selectOneMenu value="#{roleManagementHandler.transRoleMenu.menu}"
					converter="#{menuConverter}">
					<f:selectItem
						itemLabel="#{roleManagementHandler.transRoleMenu.menu.value}"
						itemValue="#{roleManagementHandler.transRoleMenu.menu}" />
					<f:selectItems value="#{roleManagementHandler.availableMenu}"
						var="menu" itemLabel="#{menu.value}" itemValue="#{menu}" />
				</p:selectOneMenu>
				
			</p:panelGrid>
			<div style="height: 14px"></div>
			<p:commandButton value="Submit" process="@parent"
				oncomplete="PF('editMenuDlg').hide()" update=":formEdit:roleMenuDT"></p:commandButton>
			<p:commandButton value="Cancel" process="@none"
				action="#{roleManagementHandler.newTransRoleMenu()}"
				oncomplete="PF('editMenuDlg').hide()"></p:commandButton>
		</h:form>
	</p:dialog>

	<p:dialog draggable="false" widgetVar="addRoleDlg" header="Add Role" appendTo="@(body)" dynamic="true">
		<h:form id="formAdd">
			<p:panelGrid columns="2" id="addRolePanel">
				<p:outputLabel value="Role Name"></p:outputLabel>
				<p:inputText value="#{roleManagementHandler.transRole.roleName}"
					required="true" autocomplete="off"
					requiredMessage="Role Name #{val['common.message.error.requiredField']}"></p:inputText>
			</p:panelGrid>
			<div style="height: 14px"></div>
			<p:commandButton value="Submit" process="@parent"
				action="#{roleManagementHandler.addRole}"
				oncomplete="if(args &amp;&amp; !args.validationFailed) PF('addRoleDlg').hide()"
				update="growl :form :form:roleDT"></p:commandButton>
			<p:commandButton value="Cancel" process="@none"
				actionListener="#{roleManagementHandler.newTransRole()}"
				oncomplete="PF('addRoleDlg').hide()" update=":form"></p:commandButton>
		</h:form>
	</p:dialog>

	<p:dialog draggable="false" widgetVar="deleteRoleDlg"
		header="Delete Role" appendTo="@(body)" dynamic="true">
		<h:form id="formDelete">
			<p:outputPanel id="deleteRolePanel">
				<h:outputFormat value="#{val['common.question.delete']}">
					<f:param value="#{roleManagementHandler.transRole.roleName}"></f:param>
				</h:outputFormat>
				<div style="height: 14px"></div>
				<p:commandButton value="Submit" process="@parent"
					action="#{roleManagementHandler.deleteRole()}"
					oncomplete="PF('deleteRoleDlg').hide()" update=":form :form:roleDT"></p:commandButton>
				<p:commandButton value="Cancel" process="@none"
					action="#{roleManagementHandler.newTransRole()}"
					oncomplete="PF('deleteRoleDlg').hide()" update=":form"></p:commandButton>
			</p:outputPanel>
		</h:form>
	</p:dialog>

	<p:dialog draggable="false" widgetVar="deleteRoleMenuDlg"
		header="Delete Role Menu" appendTo="@(body)" dynamic="true">
		<h:form id="formDeleteRM">
			<p:outputPanel id="deleteRoleMenuPanel">
				<h:outputFormat value="#{val['common.question.delete']}">
					<f:param value="#{roleManagementHandler.transRoleMenu.menu.value}"></f:param>
				</h:outputFormat>
				<div style="height: 14px"></div>
				<p:commandButton value="Submit" process="@parent"
					actionListener="#{roleManagementHandler.deleteRM()}"
					oncomplete="PF('deleteRoleMenuDlg').hide()"
					update=":formEdit:roleMenuDT">
				</p:commandButton>
				<p:commandButton value="Cancel" process="@none"
					action="#{roleManagementHandler.newTransRoleMenu()}"
					oncomplete="PF('deleteRoleMenuDlg').hide()"></p:commandButton>
			</p:outputPanel>
		</h:form>
	</p:dialog>
</ui:composition>