<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://java.sun.com/jsp/jstl/core">
    <h:outputStylesheet name="css/tabview-custom.css" />
    <h:form id="form">
        <p:commandButton value="Add Scheduler" update=":formAdd:addSchedulerPanel"
                         actionListener="#{schedulerManagementHandler.preAddScheduler}"
                         oncomplete="PF('dialogAddScheduler').show()"
        ></p:commandButton>
        <p:commandButton value="Start All" update=":form"
                         actionListener="#{schedulerManagementHandler.startScheduler}"
                         rendered="#{not schedulerManagementHandler.started}"
        ></p:commandButton>
        <p:commandButton value="Shutdown Scheduler" update=":form"
                         actionListener="#{schedulerManagementHandler.shutdown}"
                         rendered="#{schedulerManagementHandler.started}"
        ></p:commandButton>
        <p:dataTable scrollable="true" rows="7" paginator="true" rowsPerPageTemplate="5,10,15"
                     paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                     id="schedulerDT" value="#{schedulerManagementHandler.schedulerList}" var="scheduler">
            <p:column headerText="ID" width="100">
                <p:outputLabel value="#{scheduler.schedulerID}" ></p:outputLabel>
            </p:column>
            <p:column headerText="Service Name" width="150">
                <p:outputLabel value="#{scheduler.svcName}"></p:outputLabel>
            </p:column>
            <p:column headerText="Job" width="250">
                <p:outputLabel value="#{scheduler.svcExecutions}"></p:outputLabel>
            </p:column>
            <p:column width="100">
                <p:splitButton value="Edit" process="schedulerDT"
                               oncomplete="PF('dialogEditScheduler').show();"
                               actionListener="#{schedulerManagementHandler.preEditScheduler(scheduler)}"
                               update=":formEdit:editSchedulerPanel" icon="ui-icon-pencil">
                    <p:menuitem value="Stop" actionListener="#{schedulerManagementHandler.stopJob(scheduler)}"
                                rendered="#{schedulerManagementHandler.isJobRunning(scheduler)}"
                                update=":form"/>
                    <p:menuitem value="Start" actionListener="#{schedulerManagementHandler.addJob(scheduler)}"
                                rendered="#{not schedulerManagementHandler.isJobRunning(scheduler)}"
                                update=":form"/>
                </p:splitButton>
                <p:commandButton update=":formDelete:deleteSchedulerPanel"
                                 process="schedulerDT"
                                 actionListener="#{schedulerManagementHandler.preDeleteScheduler(scheduler)}"
                                 oncomplete="PF('dialogDeleteScheduler').show()"
                                 icon="ui-icon-trash" title="delete">
                </p:commandButton>
            </p:column>
        </p:dataTable>
    </h:form>

    <p:dialog draggable="false" widgetVar="dialogAddScheduler"
              header="Add Scheduler" class="dialog-scrollable">
        <h:form id="formAdd" prependId="false">
            <p:panelGrid columns="2" id="addSchedulerPanel">
                <p:outputLabel value="Service Name"></p:outputLabel>
                <p:inputText value="#{schedulerManagementHandler.scheduler.svcName}"
                             autocomplete="off"></p:inputText>
                <p:outputLabel value="Job"></p:outputLabel>
                <p:selectOneMenu
                        value="#{schedulerManagementHandler.scheduler.svcExecutions}">
                    <f:selectItems
                            value="#{schedulerManagementHandler.jobs}"
                            var="job" itemLabel="#{job}"
                            itemValue="#{job}" />
                </p:selectOneMenu>
                <p:outputLabel value="Description"></p:outputLabel>
                <p:inputTextarea value="#{schedulerManagementHandler.scheduler.description}"
                                 autocomplete="off"></p:inputTextarea>
                <p:outputLabel value="Periode"></p:outputLabel>
                <p:tabView id="addSchedulerTab">
                    <p:tab id="addSeconds" title="Seconds">
                        <p:panelGrid columns="2" cellpadding="10">
                            <p:selectManyCheckbox value="#{schedulerManagementHandler.selectedSecond}" layout="grid" columns="6">
                                <f:selectItems value="#{schedulerManagementHandler.secondsAndMinutes}" var="f" itemValue="#{f}" itemLabel="#{f}"/>
                            </p:selectManyCheckbox>
                        </p:panelGrid>
                    </p:tab>
                    <p:tab id="addMinutes" title="Minutes">
                        <p:panelGrid columns="2" cellpadding="10">
                            <p:selectManyCheckbox value="#{schedulerManagementHandler.selectedMinutes}" layout="grid" columns="6">
                                <f:selectItems value="#{schedulerManagementHandler.secondsAndMinutes}" var="f" itemValue="#{f}" itemLabel="#{f}"/>
                            </p:selectManyCheckbox>
                        </p:panelGrid>
                    </p:tab>
                    <p:tab id="addHours" title="Hours">
                        <p:panelGrid columns="2" cellpadding="10">
                            <p:selectManyCheckbox value="#{schedulerManagementHandler.selectedHours}" layout="grid" columns="6">
                                <f:selectItems value="#{schedulerManagementHandler.hours}" var="f" itemValue="#{f}" itemLabel="#{f}"/>
                            </p:selectManyCheckbox>
                        </p:panelGrid>
                    </p:tab>
                    <p:tab id="addDay" title="Day">
                        <p:panelGrid columns="2" cellpadding="10">
                            <p:selectManyCheckbox value="#{schedulerManagementHandler.selectedDays}" layout="grid" columns="6">
                                <f:selectItems value="#{schedulerManagementHandler.days}" var="f" itemValue="#{f}" itemLabel="#{f}"/>
                            </p:selectManyCheckbox>
                        </p:panelGrid>
                    </p:tab>
                    <p:tab id="addMonth" title="Month">
                        <p:panelGrid columns="2" cellpadding="10">
                            <p:selectManyCheckbox value="#{schedulerManagementHandler.selectedMonths}" layout="grid" columns="6">
                                <f:selectItems value="#{schedulerManagementHandler.months}" var="f" itemValue="#{f}" itemLabel="#{f}"/>
                            </p:selectManyCheckbox>
                        </p:panelGrid>
                    </p:tab>
                </p:tabView>
            </p:panelGrid>
            <div style="height: 14px"></div>
            <p:commandButton value="Submit" process="@parent"
                             action="#{schedulerManagementHandler.addScheduler}"
                             oncomplete="PF('dialogAddScheduler').hide()"
                             update=":form" style="float: right"></p:commandButton>
        </h:form>
    </p:dialog>

    <p:dialog draggable="false" widgetVar="dialogEditScheduler"
              header="Edit Scheduler" dynamic="true"
              class="dialog-scrollable">
        <h:form id="formEdit">
            <p:panelGrid columns="2" id="editSchedulerPanel">
                <p:outputLabel value="Service Name"></p:outputLabel>
                <p:inputText value="#{schedulerManagementHandler.scheduler.svcName}"
                             autocomplete="off"></p:inputText>
                <p:outputLabel value="Job"></p:outputLabel>
                <p:selectOneMenu
                        value="#{schedulerManagementHandler.scheduler.svcExecutions}">
                    <f:selectItems
                            value="#{schedulerManagementHandler.jobs}"
                            var="job" itemLabel="#{job}"
                            itemValue="#{job}" />
                </p:selectOneMenu>
                <p:outputLabel value="Description"></p:outputLabel>
                <p:inputTextarea value="#{schedulerManagementHandler.scheduler.description}"
                                 autocomplete="off"></p:inputTextarea>
                <p:outputLabel value="Periode"></p:outputLabel>
                <p:tabView id="editSchedulerTab">
                    <p:tab id="editSeconds" title="Seconds">
                        <p:panelGrid columns="2" cellpadding="10">
                            <p:selectManyCheckbox value="#{schedulerManagementHandler.selectedSecond}" layout="grid" columns="6">
                                <f:selectItems value="#{schedulerManagementHandler.secondsAndMinutes}" var="f" itemValue="#{f}" itemLabel="#{f}"/>
                            </p:selectManyCheckbox>
                        </p:panelGrid>
                    </p:tab>
                    <p:tab id="editMinutes" title="Minutes">
                        <p:panelGrid columns="2" cellpadding="10">
                            <p:selectManyCheckbox value="#{schedulerManagementHandler.selectedMinutes}" layout="grid" columns="6">
                                <f:selectItems value="#{schedulerManagementHandler.secondsAndMinutes}" var="f" itemValue="#{f}" itemLabel="#{f}"/>
                            </p:selectManyCheckbox>
                        </p:panelGrid>
                    </p:tab>
                    <p:tab id="editHours" title="Hours">
                        <p:panelGrid columns="2" cellpadding="10">
                            <p:selectManyCheckbox value="#{schedulerManagementHandler.selectedHours}" layout="grid" columns="6">
                                <f:selectItems value="#{schedulerManagementHandler.hours}" var="f" itemValue="#{f}" itemLabel="#{f}"/>
                            </p:selectManyCheckbox>
                        </p:panelGrid>
                    </p:tab>
                    <p:tab id="editDay" title="Day">
                        <p:panelGrid columns="2" cellpadding="10">
                            <p:selectManyCheckbox value="#{schedulerManagementHandler.selectedDays}" layout="grid" columns="6">
                                <f:selectItems value="#{schedulerManagementHandler.days}" var="f" itemValue="#{f}" itemLabel="#{f}"/>
                            </p:selectManyCheckbox>
                        </p:panelGrid>
                    </p:tab>
                    <p:tab id="editMonth" title="Month">
                        <p:panelGrid columns="2" cellpadding="10">
                            <p:selectManyCheckbox value="#{schedulerManagementHandler.selectedMonths}" layout="grid" columns="6">
                                <f:selectItems value="#{schedulerManagementHandler.months}" var="f" itemValue="#{f}" itemLabel="#{f}"/>
                            </p:selectManyCheckbox>
                        </p:panelGrid>
                    </p:tab>
                </p:tabView>
            </p:panelGrid>
            <div style="height: 14px"></div>
            <p:commandButton value="Submit" process="@parent"
                             action="#{schedulerManagementHandler.editScheduler}"
                             oncomplete="PF('dialogEditScheduler').hide()"
                             update=":form" style="float: right"></p:commandButton>
        </h:form>
    </p:dialog>

    <p:dialog draggable="false" widgetVar="dialogDeleteScheduler"
              header="Delete Scheduler">
        <h:form id="formDelete">
            <p:outputPanel id="deleteSchedulerPanel">
                <h:outputFormat value="#{val['common.question.delete']}">
                    <f:param
                            value="#{schedulerManagementHandler.scheduler.svcName}"></f:param>
                </h:outputFormat>
                <div style="height: 14px"></div>
                <p:commandButton value="Submit" process="@parent"
                                 action="#{schedulerManagementHandler.deleteScheduler}"
                                 oncomplete="PF('dialogDeleteScheduler').hide()"
                                 update=":form :form:schedulerDT"></p:commandButton>
                <p:commandButton value="Cancel" process="@none"
                                 oncomplete="PF('dialogDeleteScheduler').hide()"
                                 update=":form"></p:commandButton>
            </p:outputPanel>
        </h:form>
    </p:dialog>
</ui:composition>