<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
	<h:form id="form">
		<p:panelGrid columns="2" id="editSystemPanel">
			<p:outputLabel value="Source Biller"></p:outputLabel>
			<p:inputText value="#{sourceBillerHandler.biller}" readonly="true" disabled="true"></p:inputText>
		</p:panelGrid>
		<p:commandButton update=":formEdit:editSystemPanel" disabled="#{sourceBillerHandler.biller == null}"
			oncomplete="PF('editSystemDlg').show()" icon="ui-icon-pencil" title="edit">
			<f:setPropertyActionListener value="#{system}" target="#{sourceBillerHandler.transSystemParameter}" />
		</p:commandButton>
	</h:form>

	<p:dialog draggable="false" widgetVar="editSystemDlg"
		header="Edit Source Biller" dynamic="true">
		<h:form id="formEdit">
			<p:panelGrid columns="2" id="editSystemPanel">
				<p:outputLabel value="Source Biller"></p:outputLabel>
				<p:inputText value="#{sourceBillerHandler.biller}" required="true"
					autocomplete="off" requiredMessage="Param Value #{val['common.message.error.requiredField']}"></p:inputText>
			</p:panelGrid>
			<div style="height: 14px"></div>
			<p:commandButton value="Submit" process="@parent"
				action="#{sourceBillerHandler.editSystemParameter}"
				oncomplete="PF('editSystemDlg').hide()" update=":form"></p:commandButton>
		</h:form>
	</p:dialog>

</ui:composition>