<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
	<h:form id="form">
		<p:commandButton value="Add Parameter"
			update=":formAdd:addSystemPanel"
			actionListener="#{systemParameterHandler.preAddSystemParameter()}"
			oncomplete="PF('addSystemDlg').show()"
			disabled="#{systemParameterHandler.harga != null}"></p:commandButton>
		<p:panelGrid columns="2" id="editSystemPanel">
			<p:outputLabel value="Harga Per Meter"></p:outputLabel>
			<p:inputText value="#{systemParameterHandler.harga}" readonly="true"
				disabled="true"></p:inputText>
			<p:outputLabel value="Denda"></p:outputLabel>
			<p:inputText value="#{systemParameterHandler.denda}" readonly="true"
				disabled="true"></p:inputText>
		</p:panelGrid>
		<p:commandButton update=":formEdit:editSystemPanel" disabled="#{systemParameterHandler.harga == null}"
			oncomplete="PF('editSystemDlg').show()" icon="ui-icon-pencil"
			title="edit">
			<f:setPropertyActionListener value="#{system}"
				target="#{systemParameterHandler.transSystemParameter}" />
		</p:commandButton>
	</h:form>
	<p:dialog draggable="false" widgetVar="addSystemDlg"
		header="Add Service" dynamic="true">
		<h:form id="formAdd">
			<p:panelGrid columns="2" id="addSystemPanel">
				<p:outputLabel value="Harga Per Meter"></p:outputLabel>
				<p:inputText value="#{systemParameterHandler.harga}" required="true"
					autocomplete="off"
					requiredMessage="Param Value #{val['common.message.error.requiredField']}"></p:inputText>
				<p:outputLabel value="Denda"></p:outputLabel>
				<p:inputText value="#{systemParameterHandler.denda}" required="true"
					autocomplete="off"
					requiredMessage="Param Value #{val['common.message.error.requiredField']}"></p:inputText>
			</p:panelGrid>
			<div style="height: 14px"></div>
			<p:commandButton value="Submit" process="@parent"
				action="#{systemParameterHandler.addSystemParameter}"
				oncomplete="if (args &amp;&amp; !args.validationFailed) PF('addSystemDlg').hide()"
				update=":form"></p:commandButton>
		</h:form>
	</p:dialog>

	<p:dialog draggable="false" widgetVar="editSystemDlg"
		header="Edit System" dynamic="true">
		<h:form id="formEdit">
			<p:panelGrid columns="2" id="editSystemPanel">
				<p:outputLabel value="Harga Per Meter"></p:outputLabel>
				<p:inputText value="#{systemParameterHandler.harga}" required="true"
					autocomplete="off"
					requiredMessage="Param Value #{val['common.message.error.requiredField']}"></p:inputText>
				<p:outputLabel value="Denda"></p:outputLabel>
				<p:inputText value="#{systemParameterHandler.denda}" required="true"
					autocomplete="off"
					requiredMessage="Param Value #{val['common.message.error.requiredField']}"></p:inputText>
			</p:panelGrid>
			<div style="height: 14px"></div>
			<p:commandButton value="Submit" process="@parent"
				action="#{systemParameterHandler.editSystemParameter}"
				oncomplete="PF('editSystemDlg').hide()" update=":form"></p:commandButton>
		</h:form>
	</p:dialog>

	<p:dialog draggable="false" widgetVar="deleteSystemDlg"
		header="Delete System" id="deleteSystemPanel" dynamic="true">
		<h:form id="formDelete">
			<h:outputFormat value="#{val['common.question.delete']}">
				<f:param
					value="#{systemParameterHandler.transSystemParameter.paramName}"></f:param>
			</h:outputFormat>
			<div style="height: 14px"></div>
			<p:commandButton value="Submit" process="@parent"
				action="#{systemParameterHandler.deleteSystemParameter}"
				oncomplete="PF('deleteSystemDlg').hide()" update=":form"></p:commandButton>
			<p:commandButton value="Cancel" process="@none"
				action="#{systemParameterHandler.newTransSystemParameter}"
				oncomplete="PF('deleteSystemDlg').hide()" update=":form"></p:commandButton>
		</h:form>
	</p:dialog>

</ui:composition>