<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
	<h:form id="form" rendered="#{!isSuperAdministrator}">
		<p:panelGrid columns="3" styleClass="removePanelBorder">
			<p:scrollPanel mode="native" style="width:400px;height:310px">
				<p:chart type="line" model="#{transactionSummaryHandler.lineModel}" style="height:300px;"/>
			</p:scrollPanel>
			<div style="width: 14px"></div>
			<p:scrollPanel mode="native" style="width:400px;height:310px">
				<p:chart type="bar" model="#{transactionSummaryHandler.barModel}" style="height:300px;"/>
			</p:scrollPanel>
		</p:panelGrid>
		<div style="height: 14px"></div>
		<p:dataTable id="transactionSummaryTable" scrollable="true" rows="7"
			paginator="true" rowsPerPageTemplate="5,10,15"
			paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
			value="#{transactionSummaryHandler.bookingIpls}" var="bookingIpl">			
			<p:column headerText="Id" width="200">
				<p:outputLabel value="#{bookingIpl.bookingId}"></p:outputLabel>
			</p:column>
			<p:column headerText="Id Pelanggan" width="200">
				<p:outputLabel value="#{bookingIpl.idPelanggan}"></p:outputLabel>
			</p:column>
			<p:column headerText="Response Code" width="200">
				<p:outputLabel value="#{bookingIpl.responseCode}"></p:outputLabel>
			</p:column>
			<p:column headerText="Response Message" width="200">
				<p:outputLabel value="#{bookingIpl.responseMessage}"></p:outputLabel>
			</p:column>
			<p:column headerText="Amount" width="200">
				<p:outputLabel value="#{bookingIpl.txnAmount}"></p:outputLabel>
			</p:column>
			<p:column headerText="Txn Date" width="200">
				<p:outputLabel value="#{bookingIpl.txnDate}">
					<f:convertDateTime pattern="dd/MM/yyyy"></f:convertDateTime>
				</p:outputLabel>
			</p:column>
			<p:column headerText="Status" width="200">
				<p:outputLabel value="#{bookingIpl.txnState}"></p:outputLabel>
			</p:column>
		</p:dataTable>
	</h:form>
</ui:composition>