<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
	<h:form id="form">
		<p:commandButton value="Add User" update=":formAdd:addUserPanel"
			actionListener="#{userManagementHandler.preAddUser}"
			oncomplete="PF('addUserDlg').show()" rendered="#{fromMenuButton}"></p:commandButton>
		<p:dataTable id="userDT" rows="7" paginator="true"
			rowsPerPageTemplate="5,10,15"
			paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
			value="#{userManagementHandler.users}" var="userTable">
			<p:column headerText="Username">
				<p:outputLabel value="#{userTable.username}"
					rendered="#{(user.username eq userTable.username) or fromMenuButton}"></p:outputLabel>
			</p:column>
			<p:column headerText="User Locale">
				<p:outputLabel value="#{userTable.userLocale}"
					rendered="#{(user.username eq userTable.username) or fromMenuButton}"></p:outputLabel>
			</p:column>
			<p:column headerText="Role">
				<p:outputLabel value="#{userTable.role.roleName}"
					rendered="#{(user.username eq userTable.username) or fromMenuButton}"></p:outputLabel>
			</p:column>
			<p:column headerText="Web Theme">
				<p:outputLabel value="#{userTable.webTheme}"
					rendered="#{(user.username eq userTable.username) or fromMenuButton}"></p:outputLabel>
			</p:column>
			<p:column>
				<p:commandButton update=":formEdit:editUserPanel"
					oncomplete="PF('editUserDlg').show()" icon="ui-icon-pencil"
					actionListener="#{userManagementHandler.preEditUser(userTable)}"
					title="edit"
					rendered="#{(user.username eq userTable.username) or fromMenuButton}">
				</p:commandButton>
				<p:commandButton update=":deleteUserPanel"
					actionListener="#{userManagementHandler.preDeleteUser(userTable)}"
					oncomplete="PF('deleteUserDlg').show()" icon="ui-icon-trash"
					title="delete" rendered="#{fromMenuButton}">
				</p:commandButton>
			</p:column>
		</p:dataTable>
	</h:form>
	<p:dialog draggable="false" widgetVar="addUserDlg" header="Add User"
		rendered="#{fromMenuButton}">
		<h:form id="formAdd">
			<p:panelGrid columns="2" id="addUserPanel">
				<p:outputLabel value="Username"></p:outputLabel>
				<p:inputText value="#{userManagementHandler.transUser.username}"
					autocomplete="off" required="true"
					requiredMessage="Username #{val['common.message.error.requiredField']}"></p:inputText>

				<h:outputLabel for="pwd1" value="Password" />
				<p:password id="pwd1" required="true"
					requiredMessage="Password #{val['common.message.error.requiredField']}"
					value="#{userManagementHandler.transUser.password}" match="pwd2"
					validatorMessage="#{val['common.message.error.passwordMustMatch']}" autocomplete="off" />
				<h:outputLabel for="pwd2" value="Reenter Password" />
				<p:password id="pwd2"
					value="#{userManagementHandler.transUser.password}"
					autocomplete="off" />

				<p:outputLabel value="User Locale"></p:outputLabel>
				<p:selectOneMenu
					value="#{userManagementHandler.transUser.userLocale}">
					<f:selectItem itemLabel="Bahasa" itemValue="in_ID" />
					<f:selectItem itemLabel="English" itemValue="en_US" />
				</p:selectOneMenu>
				<p:outputLabel value="Role"></p:outputLabel>
				<p:selectOneMenu value="#{userManagementHandler.transUser.role}"
					converter="#{roleConverter}">
					<f:selectItems value="#{userManagementHandler.availRoles}"
						var="role" itemLabel="#{role.roleName}" itemValue="#{role}" />
				</p:selectOneMenu>
				<p:outputLabel value="Web Theme"></p:outputLabel>
				<p:selectOneMenu value="#{userManagementHandler.transUser.webTheme}"
					panelStyle="width:180px" effect="fade" style="width:160px">
					<f:selectItems value="#{userManagementHandler.themes}" var="theme"
						itemLabel="#{theme.displayName}" itemValue="#{theme.name}" />
				</p:selectOneMenu>
				
				<p:outputLabel value="Group"></p:outputLabel>
				<p:selectOneMenu value="#{userManagementHandler.transGroup}"
					converter="#{groupConverter}">
					<f:selectItems value="#{userManagementHandler.availGroups}"
						var="group" itemLabel="#{group.username}" itemValue="#{group}" />
				</p:selectOneMenu>
			</p:panelGrid>
			<div style="height: 14px"></div>
			<p:commandButton value="Submit" process="@parent"
				actionListener="#{userManagementHandler.addUser}"
				oncomplete="if (args &amp;&amp; !args.validationFailed) PF('addUserDlg').hide()" update="growl :form"></p:commandButton>
		</h:form>
	</p:dialog>
	<p:dialog draggable="false" widgetVar="editUserDlg" header="Edit User">
		<h:form id="formEdit">
			<p:panelGrid columns="2" id="editUserPanel">
				<p:outputLabel value="Username"></p:outputLabel>
				<p:inputText value="#{userManagementHandler.transUser.username}"
					readonly="true" disabled="true"></p:inputText>

				<h:outputLabel for="pwd1" value="Password" />
				<p:password id="pwd1Edit"
					value="#{userManagementHandler.transUser.password}"
					match="pwd2Edit" redisplay="true"
					validatorMessage="#{val['common.message.error.passwordMustMatch']}" />
				<h:outputLabel for="pwd2" value="Reenter Password" />
				<p:password id="pwd2Edit"
					value="#{userManagementHandler.transUser.password}"
					redisplay="true" />

				<p:outputLabel value="User Locale"></p:outputLabel>
				<p:selectOneMenu
					value="#{userManagementHandler.transUser.userLocale}" disabled = "#{!isSuperAdministrator}">
					<f:selectItem itemLabel="Bahasa" itemValue="in_ID" />
					<f:selectItem itemLabel="English" itemValue="en_US" />
				</p:selectOneMenu>
				<p:outputLabel value="Role"></p:outputLabel>
				<p:selectOneMenu value="#{userManagementHandler.transUser.role}"
					converter="#{roleConverter}" disabled="#{!fromMenuButton or !isSuperAdministrator}">
					<f:selectItems value="#{userManagementHandler.availRoles}"
						var="role" itemLabel="#{role.roleName}" itemValue="#{role}" />
				</p:selectOneMenu>
				<p:outputLabel value="Web Theme"></p:outputLabel>
				<p:selectOneMenu value="#{userManagementHandler.transUser.webTheme}"
					panelStyle="width:180px" effect="fade" style="width:160px">
					<f:selectItems value="#{userManagementHandler.themes}" var="theme"
						itemLabel="#{theme.displayName}" itemValue="#{theme.name}" />
				</p:selectOneMenu>

				<p:outputLabel value="Group"></p:outputLabel>
				<p:selectOneMenu value="#{userManagementHandler.transGroup}"
					converter="#{groupConverter}" disabled="#{!fromMenuButton or !isSuperAdministrator}">
					<f:selectItems value="#{userManagementHandler.availGroups}"
						var="group" itemLabel="#{group.username}" itemValue="#{group}" />
				</p:selectOneMenu>
			</p:panelGrid>
			<div style="height: 14px"></div>
			<p:commandButton value="Submit" process="@parent"
				action="#{userManagementHandler.editUser()}"
				oncomplete="PF('editUserDlg').hide()" update=":form"></p:commandButton>
		</h:form>
	</p:dialog>
	<p:dialog draggable="false" widgetVar="deleteUserDlg"
		header="Delete User" id="deleteUserPanel" rendered="#{fromMenuButton}">
		<h:form id="formDelete">
			<h:outputFormat value="#{val['common.question.delete']}">
				<f:param value="#{userManagementHandler.transUser.username}"></f:param>
			</h:outputFormat>
			<div style="height: 14px"></div>
			<p:commandButton value="Submit" process="@parent"
				action="#{userManagementHandler.deleteUser()}"
				oncomplete="PF('deleteUserDlg').hide()" update=":form"></p:commandButton>
			<p:commandButton value="Cancel" process="@none"
				action="#{userManagementHandler.newTransUser()}"
				oncomplete="PF('deleteUserDlg').hide()" update=":form"></p:commandButton>
		</h:form>
	</p:dialog>

</ui:composition>