<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

<h:head>
	<title><ui:insert name="title">Padi Pulsa and IPL</ui:insert></title>
	<link rel="shortcut icon" type="image/x-icon" href="#{resource['image/value.png']}"/>
</h:head>
<h:body>
	<p:growl id="growl" autoUpdate="true" showDetail="true" />
	<h:outputStylesheet name="css/header.css"></h:outputStylesheet>
	<h:outputStylesheet name="css/panelGrid.css" />
	<h:outputScript name="js/layoutResponsive.js" />
	<p:layout widgetVar="layoutVar">
		<p:layoutUnit position="north" size="170">
			<p:outputPanel id="headerPnl">
				<span> <p:graphicImage id="headerImg"
						url="#{pageMenuHandler.getImageHeader()}"></p:graphicImage>
				</span>
				<span id="toolbar"> <p:toolbar>
						<f:facet name="left">
							
							<p:commandLink action="#{pageMenuHandler.doClickHome()}" style="">
							    <h:graphicImage name="image/home.png" style="width: 25px;float: left;padding-right: 10px;" />
							</p:commandLink>
							<div style="width: 3px"></div>
							<h:outputFormat id="welcomeMsg"
								value="#{val['common.page.welcome']}">
								<f:param value="#{user.username}"></f:param>
							</h:outputFormat>
							
						</f:facet>

						<f:facet name="right">
							<span id="clockMsg"> <p:clock
									pattern="HH:mm:ss dd/MM/yyyy" />
							</span>
							<span class="ui-separator"> <span
								class="ui-icon ui-icon-grip-dotted-vertical" />
							</span>
							<p:commandButton id="ProfileBtn" icon="ui-icon-suitcase"></p:commandButton>
						</f:facet>
					</p:toolbar>
				</span>
			</p:outputPanel>
		</p:layoutUnit>


		<p:layoutUnit position="west" collapsible="true" styleClass="westLayout">
			<ui:include src="/WEB-INF/template-page/menu-template.xhtml" />
		</p:layoutUnit>

		<p:layoutUnit position="center" styleClass="eastLayout">
			<ui:insert name="content">no content</ui:insert>
		</p:layoutUnit>
	</p:layout>
	<p:overlayPanel id="buttonPanel" for="ProfileBtn" showEvent="mouseover"
		dismissable="true">
		<h:form>
			<p:panelGrid columns="1" styleClass="removePanelBorder">
				<p:commandLink value="Profile" id="editProfileBtn"
					action="#{pageMenuHandler.fromMenuButton()}"></p:commandLink>
				<p:commandButton id="logoutBtn" icon="ui-icon-close"
					value="#{val['common.page.logout']}"
					action="#{loginHandler.logout()}"></p:commandButton>
			</p:panelGrid>
		</h:form>
	</p:overlayPanel>
</h:body>
</html>