<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
	<h:outputStylesheet name="css/accordion-menu.css" />
	<h:form>
		<p:growl id="messages"></p:growl>
		<p:accordionPanel widgetVar="menuAcc" activeIndex="#{pageMenuHandler.selectedGroup}">
			<c:forEach items="#{pageMenuHandler.groupMenus}" var="group">
				<p:tab title="#{group}">
					<c:forEach items="#{pageMenuHandler.menus}" var="menu">
						<p:menubar rendered="#{(menu.groupMenu == null)? (false) : (menu.groupMenu.groupName eq group)}">
							<p:menuitem value="#{menu.value}"
								action="#{pageMenuHandler.doClick(menu)}" />
						</p:menubar>
					</c:forEach>
				</p:tab>
			</c:forEach>
		</p:accordionPanel>
	</h:form>
</ui:composition>